.accordion-button {
  @apply flex justify-between text-2xl font-body font-medium border-0 items-center w-full pl-8 pr-0 py-0;
}

.accordion-button.mobile {
  @apply pl-4 pr-0 py-0 text-base leading-5 !important;
}

.accordion-button.active {
  @apply bg-blue-700 text-neutral-white;
}

.accordion-button.inactive {
  @apply bg-neutral-white text-demo-darkBlue;
}

.accordion-button.clean {
  @apply border-b border-solid border-demo-lightGray;
}

.accordion-button.clean.active {
  @apply bg-neutral-white text-demo-lightBlue !important;
}

.accordion-button.clean.inactive {
  @apply text-demo-darkBlue;
}

.accordion-content {
  @apply px-8 pt-4 text-demo-darkGray;
}

.accordion-content.mobile {
  @apply px-4;
}

.accordion-label {
  @apply text-left py-4;
  max-width: 75%;
}

.accordion-label.mobile {
  @apply py-2;
}

.accordion-heading {
  @apply m-0 flex;
  min-height: 4rem;
}

.accordion-icon {
  @apply flex w-20 h-full items-center justify-center;
}

.accordion-icon.clean {
  @apply text-blue-500 bg-neutral-white !important;
}

.accordion-icon.active {
  @apply text-neutral-white bg-demo-mediumBlue;
}

.accordion-icon.inactive {
  @apply text-demo-darkBlue bg-demo-lightBlue;
}

.accordion-panel {
  @apply flex mb-6 rounded-md flex-col overflow-hidden border border-solid border-demo-lightGray;
}

.accordion-panel.clean {
  @apply border-0;
}
