:host {
  display: block;

  figure {
    margin: 0;
    display: block;
    height: auto;
  }
}

figure {
  width: 100%;
  height: 100%;
  display: flex;
}

picture {
  aspect-ratio: default;
  overflow: hidden;
  display: flex;
}

img {
  object-fit: cover;
  height: auto;
  min-width: 100%;
}

:host([image-ratio='1/1']) picture {
  aspect-ratio: 1 / 1;
}
:host([image-ratio='3/2']) picture {
  aspect-ratio: 3 / 2;
}
:host([image-ratio='3/4']) picture {
  aspect-ratio: 3 / 4;
}
:host([image-ratio='4/3']) picture {
  aspect-ratio: 4 / 3;
}
:host([image-ratio='5/4']) picture {
  aspect-ratio: 5 / 4;
}
:host([image-ratio='16/9']) picture {
  aspect-ratio: 16 / 9;
}
:host([image-ratio='9/16']) picture {
  aspect-ratio: 9 / 16;
}
:host([image-ratio='21/9']) picture {
  aspect-ratio: 21 / 9;
}
:host([image-ratio='42/9']) picture {
  aspect-ratio: 42 / 9;
}
