--outline-alert--info-background--computed: var(
  --outline-alert--info-background,
  var(--outline-white)
);
--outline-alert--info-text--computed: var(
  --outline-alert--info-text,
  var(--status-info)
);
--outline-alert--info-border--computed: var(
  --outline-alert--info-border,
  var(--status-info)
);

--outline-alert--success-background--computed: var(
  --outline-alert--success-background,
  var(--outline-white)
);
--outline-alert--success-text--computed: var(
  --outline-alert--success-text,
  var(--status-success)
);
--outline-alert--success-border--computed: var(
  --outline-alert--success-border,
  var(--status-success)
);

--outline-alert--warning-background--computed: var(
  --outline-alert--warning-background,
  var(--outline-white)
);
--outline-alert--warning-text--computed: var(
  --outline-alert--warning-text,
  var(--status-warning)
);
--outline-alert--warning-border--computed: var(
  --outline-alert--warning-border,
  var(--status-warning)
);

--outline-alert--error-background--computed: var(
  --outline-alert--error-background,
  var(--outline-white)
);
--outline-alert--error-text--computed: var(
  --outline-alert--error-text,
  var(--status-error)
);
--outline-alert--error-border--computed: var(
  --outline-alert--error-border,
  var(--status-error)
);
