::slotted(*) {
  display: block;
  margin-bottom: var(--spacing-6);
}

.container {
  --container-padding: 1rem;

  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;

  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  max-width: calc(
    var(--container-max-content-width) + 2 * var(--container-padding)
  );

  > * {
    margin-bottom: var(--component-spacing, 0);
  }
}

.wide {
  --container-max-content-width: 1660px;
}

.medium {
  --container-max-content-width: 1088px;
}

.narrow {
  --container-max-content-width: 864px;
}

.full {
  max-width: 100%;
  --container-padding: 0;
}

.justify-start {
  margin-left: 0;
}

.justify-end {
  margin-right: 0;
}
