:host {
  @apply block;
}

outline-container {
  @apply grid grid-cols-12 h-full;
}

:host([gap-size='large']) outline-container,
:host([gap-size-sm='large']) outline-container,
:host([gap-size-md='large']) outline-container,
:host([gap-size-lg='large']) outline-container,
:host([gap-size-xl='large']) outline-container,
:host([gap-size-xxl='large']) outline-container {
  @apply gap-y-16 gap-x-0;
}

:host([gap-size='medium']) outline-container,
:host([gap-size-sm='medium']) outline-container,
:host([gap-size-md='medium']) outline-container,
:host([gap-size-lg='medium']) outline-container,
:host([gap-size-xl='medium']) outline-container,
:host([gap-size-xxl='medium']) outline-container {
  @apply gap-y-10 gap-x-0;
}

:host([gap-size='small']) outline-container,
:host([gap-size-sm='small']) outline-container,
:host([gap-size-md='small']) outline-container,
:host([gap-size-lg='small']) outline-container,
:host([gap-size-xl='small']) outline-container,
:host([gap-size-xxl='small']) outline-container {
  @apply gap-y-4 gap-x-0;
}

:host([gap-size='none']) outline-container {
  @apply gap-0;
}

@screen sm {
  :host([gap-size='large']) outline-container {
    @apply gap-y-16 gap-x-16;
  }

  :host([gap-size='medium']) outline-container {
    @apply gap-y-10 gap-x-10;
  }

  :host([gap-size='small']) outline-container {
    @apply gap-y-4 gap-x-4;
  }
  :host([is-auto-fitted='true']) outline-container {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}

@screen sm {
  :host([gap-size-sm='large']) outline-container {
    @apply gap-y-16 gap-x-16;
  }
}
@screen sm {
  :host([gap-size-sm='medium']) outline-container {
    @apply gap-y-10 gap-x-10;
  }
}
@screen sm {
  :host([gap-size-sm='small']) outline-container {
    @apply gap-y-4 gap-x-4;
  }
}

@screen sm {
  :host([gap-size-sm='none']) outline-container {
    @apply gap-0;
  }
}

@screen md {
  :host([gap-size-md='large']) outline-container {
    @apply gap-y-16 gap-x-16;
  }
}

@screen md {
  :host([gap-size-md='medium']) outline-container {
    @apply gap-y-10 gap-x-10;
  }
}

@screen md {
  :host([gap-size-md='small']) outline-container {
    @apply gap-y-4 gap-x-4;
  }
}

@screen md {
  :host([gap-size-md='none']) outline-container {
    @apply gap-0;
  }
}

@screen lg {
  :host([gap-size-lg='large']) outline-container {
    @apply gap-y-16 gap-x-16;
  }
}

@screen lg {
  :host([gap-size-lg='medium']) outline-container {
    @apply gap-y-10 gap-x-10;
  }
}

@screen lg {
  :host([gap-size-lg='small']) outline-container {
    @apply gap-y-4 gap-x-4;
  }
}

@screen lg {
  :host([gap-size-lg='none']) outline-container {
    @apply gap-0;
  }
}

@screen xl {
  :host([gap-size-xl='large']) outline-container {
    @apply gap-y-16 gap-x-16;
  }
}

@screen xl {
  :host([gap-size-xl='medium']) outline-container {
    @apply gap-y-10 gap-x-10;
  }
}

@screen xl {
  :host([gap-size-xl='small']) outline-container {
    @apply gap-y-4 gap-x-4;
  }
}

@screen xl {
  :host([gap-size-xl='none']) outline-container {
    @apply gap-0;
  }
}

@screen xxl {
  :host([gap-size-xxl='large']) outline-container {
    @apply gap-y-16 gap-x-16;
  }
}

@screen xxl {
  :host([gap-size-xxl='medium']) outline-container {
    @apply gap-y-10 gap-x-10;
  }
}

@screen xxl {
  :host([gap-size-xxl='small']) outline-container {
    @apply gap-y-4 gap-x-4;
  }
}

@screen xxl {
  :host([gap-size-xxl='none']) outline-container {
    @apply gap-0;
  }
}
