:host {
  @apply inline-flex flex-col;
}

.tooltip {
  @apply flex relative justify-center;
}

.tooltip-tip {
  @apply absolute inline-flex opacity-0 text-center overflow-hidden p-2;
  visibility: hidden;
  pointer-events: visible;
  border: black solid 1px;
  background-color: whitesmoke;
  transition: all 500ms;
  transition-delay: 300ms;
}

.position-top {
  @apply bottom-full;
}

.position-bottom {
  @apply top-full;
}

.position-right {
  @apply left-full;
}

.position-left {
  @apply right-full;
}

.tooltip:hover > .tooltip-tip,
.tooltip:focus > .tooltip-tip {
  @apply opacity-100;
  visibility: visible;
  transition: opacity 1000ms;
  transition-delay: 500ms;
}
