:host {
  @apply inline-flex flex-col;
}

.tooltip {
  @apply flex relative justify-center;
}

.tooltip-tip {
  @apply absolute inline-flex p-2 opacity-0 text-center;
  border: black solid 1px;
  background-color: whitesmoke;
  transition-property: opacity;
  transition: 200ms;
}

.position-top {
  @apply bottom-full mb-2;
}

.position-bottom {
  @apply top-full mt-2;
}

.position-right {
  @apply left-full ml-2;
}

.position-left {
  @apply right-full mr-2;
}

.tooltip:hover > .tooltip-tip {
  @apply opacity-100;
  transition-property: opacity;
  transition: 1000ms;
  transition-delay: 1000ms;
}
