:host {
  @apply inline-flex flex-col;
}

.tooltip {
  @apply flex relative justify-center;
}

.tooltip-tip {
  @apply absolute inline-flex opacity-0 text-center h-0 w-0 overflow-hidden p-2;
  border: black solid 1px;
  background-color: whitesmoke;
}

.position-top {
  @apply bottom-full;
}

.position-bottom {
  @apply top-full;
}

.position-right {
  @apply left-full;
}

.position-left {
  @apply right-full;
}

.tooltip:hover > .tooltip-tip,
.tooltip:focus > .tooltip-tip {
  @apply opacity-100 h-auto w-auto;
  transition: opacity 500ms;
  transition-delay: 500ms;
}
