node_modules/*
docs/*
dist/*
docs-src/*
rollup.config.js
custom-elements.json
component-list.json
resolved-outline-config.ts
resolved-tailwind-config.ts
.history/
storybook-static/
*.js
*.lit.ts
.github/
.octane-ci/
.bin/
.docksal/
.yarn/
project/
*.d.ts
packages/outline-cli/
