# Directories
.changeset/
.history/
.husky/
.github/
.turbo/
.vscode/
.yarn/
docs/
dist/
build/
node_modules/
storybook-static/

# File Patterns
scripts/*.js
packages/tools/outline-config/*
# This handles .js configurations in the root dir.
*.js

# Specific Files

# Other
