:root {
  /* Brand specific primary colors. */
  --brand-primary: #2563eb;
  --brand-secondary: #059669;
  --brand-tertiary: #dc2626;
  --brand-quaternary: #d97706;
  --brand-quinary: #9333ea;
  --brand-senary: #db2777;
  --brand-septenary: #4f46e5;
  --brand-octonary: #525252;
  --brand-nonary: #1e3a8a;
  --brand-denary: #171717;

  /* Brand specific neutral colors & Generic tones/ */
  --neutral-transparent: transparent;
  --neutral-white: #fff;
  --neutral-grayLight: #f4f4f5;
  --neutral-grayMedium: #a1a1aa;
  --neutral-grayDark: #3f3f46;
  --neutral-black: #000;

  /* Colors for UI notification messages. */
  --status-success: #2f855a;
  --status-warning: #b64301;
  --status-error: #c53030;
  --status-info: #1e3a8a;

  --ui-infoBackground: var(--demo-white);
  --ui-infoText: var(--status-info);
  --ui-infoBorder: var(--status-info);

  --ui-successBackground: var(--demo-white);
  --ui-successText: var(--status-success);
  --ui-successBorder: var(--status-success);

  --ui-warningBackground: var(--demo-white);
  --ui-warningText: var(--status-warning);
  --ui-warningBorder: var(--status-warning);

  --ui-errorBackground: var(--demo-white);
  --ui-errorText: var(--status-error);
  --ui-errorBorder: var(--status-error);

  /* Demo colors used for default component demonstrations */
  --demo-darkBlue: #2563eb;
  --demo-mediumBlue: #3b82f6;
  --demo-lightBlue: #eff6ff;
  --demo-darkGray: #3f3f46;
  --demo-mediumGray: #807e7e;
  --demo-lightGray: #f4f4f5;
  --demo-white: #fff;
  --demo-black: #000;
  --demo-transparent: transparent;

  /* Default Tailwind CSS Colors converted to CSS Variables. */
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --yellow-50: #fffbeb;
  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fcd34d;
  --yellow-400: #fbbf24;
  --yellow-500: #f59e0b;
  --yellow-600: #d97706;
  --yellow-700: #b45309;
  --yellow-800: #92400e;
  --yellow-900: #78350f;
  --green-50: #ecfdf5;
  --green-100: #d1fae5;
  --green-200: #a7f3d0;
  --green-300: #6ee7b7;
  --green-400: #34d399;
  --green-500: #10b981;
  --green-600: #059669;
  --green-700: #047857;
  --green-800: #065f46;
  --green-900: #064e3b;
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;

  /* Utitlizing CSS properties here (screens) caused
     the responsive tailwind classes to simply fail.
     @todo: Make screens work with css variables. */
  /* --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-xxl: 1440px;
  --screen-xxxl: 2180px; */

  --spacing-0: 0px;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --spacing-px: 1px;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3.5rem;
  --fs-6xl: 4.5rem;
  --fs-7xl: 5.5rem;
  --fs-8xl: 6.5rem;
  --fs-9xl: 7.5rem;

  --lh-xs: 1rem;
  --lh-sm: 1.25rem;
  --lh-base: 1.5rem;
  --lh-lg: 1.75rem;
  --lh-xl: 1.75rem;
  --lh-2xl: 2rem;
  --lh-3xl: 2.25rem;
  --lh-4xl: 2.5rem;
  --lh-5xl: 3.75rem;
  --lh-6xl: 4.75rem;
  --lh-7xl: 5.75rem;
  --lh-8xl: 6.75rem;
  --lh-9xl: 7.75rem;

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /*
   * Configuration values for `outline-container`.
   */
  --outline-container-padding-x: 1.5rem;
  --outline-container-padding-y: 1.5rem;

  /*
   * Configuration values for `outline-link`.
   */
  --outline-link-color-default: var(--demo-mediumBlue);
  --outline-link-color-hover: var(--demo-darkBlue);
  --outline-link-color-focus: var(--demo-darkBlue);
  --outline-link-color-disabled: var(--demo-darkGray);

  /*
   * Configuration values for `outline-button`.
   */

  /* Primary Button(s) */
  --outline-btn--primary-padding: 0.5em 1em;
  --outline-btn--primary-rounded: var(--spacing-2);

  --outline-btn--primary-bg-color-default: var(--demo-mediumBlue);
  --outline-btn--primary-text-color-default: var(--neutral-white);
  --outline-btn--primary-border-default: 1px solid var(--demo-mediumBlue);
  --outline-btn--primary-outline-default: none;

  --outline-btn--primary-bg-color-hover: var(--demo-darkBlue);
  --outline-btn--primary-text-color-hover: var(--neutral-white);
  --outline-btn--primary-border-hover: 1px solid var(--demo-darkBlue);
  --outline-btn--primary-outline-hover: 2px solid
    var(--blue-responsible-darken-2);

  --outline-btn--primary-bg-color-focus: var(--demo-darkBlue);
  --outline-btn--primary-text-color-focus: var(--neutral-white);
  --outline-btn--primary-border-focus: 1px solid var(--neutral-white);
  --outline-btn--primary-outline-focus: 2px solid var(--demo-darkBlue);

  --outline-btn--primary--disabled-bg-color: var(--demo-lightGray);
  --outline-btn--primary--disabled-text-color: var(--demo-black);
  --outline-btn--primary--disabled-border: 1px solid var(--demo-lightGray);
  --outline-btn--primary--disabled-outline: none;

  --outline-btn--primary--disabled-bg-color-focus: var(--demo-lightGray);
  --outline-btn--primary--disabled-text-color-focus: var(--demo-black);
  --outline-btn--primary--disabled-border-focus: 1px solid var(--demo-white);
  --outline-btn--primary--disabled-outline-focus: 2px solid var(--demo-darkGray);

  /* Secondary Button(s) */
  --outline-btn--secondary-padding: 0.5em 1em;
  --outline-btn--secondary-rounded: var(--spacing-2);

  --outline-btn--secondary-bg-color-default: var(--demo-white);
  --outline-btn--secondary-text-color-default: var(--demo-darkBlue);
  --outline-btn--secondary-border-default: 1px solid var(--demo-darkBlue);
  --outline-btn--secondary-outline-default: none;

  --outline-btn--secondary-bg-color-hover: var(--demo-lightBlue);
  --outline-btn--secondary-text-color-hover: var(--demo-darkBlue);
  --outline-btn--secondary-border-hover: 1px solid var(--demo-lightBlue);
  --outline-btn--secondary-outline-hover: 2px solid var(--demo-darkBlue);

  --outline-btn--secondary-bg-color-focus: var(--demo-lightBlue);
  --outline-btn--secondary-text-color-focus: var(--demo-darkBlue);
  --outline-btn--secondary-border-focus: 1px solid var(--demo-white);
  --outline-btn--secondary-outline-focus: 2px solid var(--demo-darkBlue);

  --outline-btn--secondary--disabled-bg-color: var(--demo-lightGray);
  --outline-btn--secondary--disabled-text-color: var(--demo-darkGray);
  --outline-btn--secondary--disabled-border: 1px solid var(--demo-lightGray);
  --outline-btn--secondary--disabled-outline: none;

  --outline-btn--secondary--disabled-bg-color-focus: var(--demo-lightGray);
  --outline-btn--secondary--disabled-text-color-focus: var(--demo-darkGray);
  --outline-btn--secondary--disabled-border-focus: 1px solid
    var(--neutral-white);
  --outline-btn--secondary--disabled-outline-focus: 2px solid
    var(--demo-darkGray);

  /* Link Button(s) */
  --outline-btn--link-padding: 0.5em 1em;
  --outline-btn--link-rounded: var(--spacing-2);

  --outline-btn--link-bg-color-default: var(--demo-transparent);
  --outline-btn--link-text-color-default: var(--outline-link-color-default);
  --outline-btn--link-decoration-default: none;
  --outline-btn--link-border-default: none;
  --outline-btn--link-outline-default: none;

  --outline-btn--link-bg-color-hover: var(--demo-transparent);
  --outline-btn--link-text-color-hover: var(--outline-link-color-hover);
  --outline-btn--link-decoration-hover: underline;
  --outline-btn--link-border-hover: none;
  --outline-btn--link-outline-hover: none;

  --outline-btn--link-bg-color-focus: var(--demo-transparent);
  --outline-btn--link-text-color-focus: var(--outline-link-color-focus);
  --outline-btn--link-decoration-focus: none;
  --outline-btn--link-border-focus: none;
  --outline-btn--link-outline-focus: 2px solid var(--outline-link-color-focus);

  --outline-btn--link--disabled-bg-color: var(--demo-transparent);
  --outline-btn--link--disabled-text-color: var(--outline-link-color-disabled);
  --outline-btn--link--disabled-decoration: none;
  --outline-btn--link--disabled-border: none;
  --outline-btn--link--disabled-outline: none;

  --outline-btn--link--disabled-bg-color-focus: none;
  --outline-btn--link--disabled-text-color-focus: var(
    --outline-link-color-disabled
  );
  --outline-btn--link--disabled-decoration-focus: none;
  --outline-btn--link--disabled-border-focus: none;
  --outline-btn--link--disabled-outline-focus: 2px solid var(--demo-mediumGray);

  /*
   * Configuration values for `outline-breadcrumb`.
   */
  --outline-breadcrumb-text-color-default: var(--demo-lightGray);
  --outline-breadcrumb-link-color-default: var(--demo-white);
  --outline-breadcrumb-link-color-hover: var(--demo-mediumGray);
  --outline-breadcrumb-link-color-focus: var(--demo-mediumGray);
  --outline-breadcrumb-link-decoration-default: none;
  --outline-breadcrumb-link-decoration-hover: underline;
  --outline-breadcrumb-link-decoration-focus: underline;
  --outline-breadcrumb-bg-color: var(--demo-darkGray);
  --outline-breadcrumb-bg-padding: var(--spacing-4) var(--spacing-4);
  --outline-breadcrumb-separator-spacing: var(--spacing-2);

  /*
  * Configuration values for `outline-admin-links`.
  * This component's styles represent a standard set of administrative
  * links like one found in Drupal or other systems.
  */
  --outline-admin-links-color-default: var(--demo-darkGray);
  --outline-admin-links-color-hover: var(--demo-black);
  --outline-admin-links-color-focus: var(--demo-black);
  --outline-admin-links-color-active: var(--demo-white);
  --outline-admin-links-bg-default: var(--demo-lightGray);
  --outline-admin-links-bg-hover: var(--demo-mediumGray);
  --outline-admin-links-bg-focus: var(--demo-mediumGray);
  --outline-admin-links-bg-active: var(--demo-darkGray);
  --outline-admin-links-y-spacing: var(--spacing-4);
  --outline-admin-links-link-y-spacing: var(--spacing-4);
  --outline-admin-links-link-x-spacing: var(--spacing-6);
}
