/*
Default CSS Variables for `outline-breadcrumb`.
You can override these using `outline.theme.css`, 
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
The variables used to override the default 
`outline-breadcrumb` styling can be found in 
`outline-breadcrumb.ts` delcared with the `@cssprop` annotations.
*/

--outline-breadcrumb--default-text-color-default: var(--outline-gray-100);
--outline-breadcrumb--default-link-color-default: var(--outline-white);
--outline-breadcrumb--default-link-color-hover: var(--outline-gray-300);
--outline-breadcrumb--default-link-color-focus: var(--outline-gray-300);
--outline-breadcrumb--default-link-decoration-default: none;
--outline-breadcrumb--default-link-decoration-hover: underline;
--outline-breadcrumb--default-link-decoration-focus: underline;
--outline-breadcrumb--default-bg-color: var(--outline-gray-600);
--outline-breadcrumb--default-bg-padding: var(--spacing-4) var(--spacing-4);
--outline-breadcrumb--default-separator-spacing: var(--spacing-2);
