/*
Default CSS Variables for the `outline-core-button` link variant.
You can override these using `outline.theme.css`,
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
The variables used to override the default
`outline-core-button` styling can be found in
`outline-core-button.ts` delcared with the `@cssprop` annotations.
*/

/*
--outline-core-button--link-padding
--outline-core-button--link-radius
--outline-core-button--link-bg-color
--outline-core-button--link-text-color
--outline-core-button--link-decoration
--outline-core-button--link-weight
--outline-core-button--link-ring

--outline-core-button--link-bg-color-hover
--outline-core-button--link-text-color-hover
--outline-core-button--link-decoration-hover
--outline-core-button--link-weight-hover
--outline-core-button--link-ring-hover

--outline-core-button--link-bg-color-focus
--outline-core-button--link-text-color-focus
--outline-core-button--link-decoration-focus
--outline-core-button--link-weight-focus
--outline-core-button--link-ring-focus

--outline-core-button--link-disabled-bg-color
--outline-core-button--link-disabled-text-color
--outline-core-button--link-disabled-decoration
--outline-core-button--link-disabled-weight
--outline-core-button--link-disabled-ring
--outline-core-button--link-disabled-bg-color-focus
--outline-core-button--link-disabled-text-color-focus
--outline-core-button--link-disabled-decoration-focus
--outline-core-button--link-disabled-weight-focus
--outline-core-button--link-disabled-ring-focus
*/

:host {

  /* Link Button(s) */
  --outline-core-button--link-padding--computed: var(--outline-core-button--link-padding, var(--outline-core-button--padding--computed));
  --outline-core-button--link-radius--computed: var(--outline-core-button--link-radius, var(--outline-core-button--radius--computed));

  /* Link Button(s) - Default */
  --outline-core-button--link-bg-color--computed: var(--outline-core-button--link-bg-color, var(--outline-transparent));
  --outline-core-button--link-color--computed: var(--outline-core-button--link-color, var(--outline-link--color--computed));
  --outline-core-button--link-decoration--computed: var(--outline-core-button--link-decoration,  var(--outline-link--decoration--computed));
  --outline-core-button--link-weight--computed: var(--outline-core-button--link-weight, var(--outline-core-button--weight--computed));
  --outline-core-button--link-ring--computed: var(--outline-core-button--link-ring, none);

  /* Link Button(s) - Hover */
  --outline-core-button--link-bg-color-hover--computed: var(--outline-core-button--link-bg-color-hover, var(--outline-transparent));
  --outline-core-button--link-color-hover--computed: var(--outline-core-button--link-color-hover, var(--outline-link--color-hover--computed));
  --outline-core-button--link-decoration-hover--computed: var(--outline-core-button--link-decoration-hover, underline);
  --outline-core-button--link-weight-hover--computed: var(--outline-core-button--link-weight-hover, var(--outline-core-button--weight--computed));
  --outline-core-button--link-ring-hover--computed: var(--outline-core-button--link-ring-hover, none);

  /* Link Button(s) - Focus */
  --outline-core-button--link-bg-color-focus--computed: var(--outline-core-button--link-bg-color-focus, var(--outline-transparent));
  --outline-core-button--link-color-focus--computed: var(--outline-core-button--link-color-focus, var(--outline-link--color-focus--computed));
  --outline-core-button--link-decoration-focus--computed: var(--outline-core-button--link-decoration-focus, underline);
  --outline-core-button--link-weight-focus--computed: var(--outline-core-button--link-weight-focus, var(--outline-core-button--weight--computed));
  --outline-core-button--link-ring-focus--computed: var(--outline-core-button--link-ring-focus, none);

  /* Link Button(s) - Disabled */
  --outline-core-button--link-disabled-bg-color--computed: var(--outline-core-button--link-disabled-bg-color, var(--outline-transparent));
  --outline-core-button--link-disabled-color--computed: var(--outline-core-button--link-disabled-color, var(--outline-gray-500));
  --outline-core-button--link-disabled-decoration--computed: var(--outline-core-button--link-disabled-decoration, none);
  --outline-core-button--link-disabled-weight--computed: var(--outline-core-button--link-disabled-weight, var(--outline-core-button--weight--computed));
  --outline-core-button--link-disabled-ring--computed: var(--outline-core-button--link-disabled-ring, none);

  /* Link Button(s) - Disabled:Focus */
  --outline-core-button--link-disabled-bg-color-focus--computed: var(--outline-core-button--link-disabled-bg-color-focus, var(--outline-transparent));
  --outline-core-button--link-disabled-color-focus--computed: var(--outline-core-button--link-disabled-color-focus, var(--outline-gray-500));
  --outline-core-button--link-disabled-decoration-focus--computed: var(--outline-core-button--link-disabled-decoration-focus, none);
  --outline-core-button--link-disabled-weight-focus--computed: var(--outline-core-button--link-disabled-weight-focus, var(--outline-core-button--weight--computed));
  --outline-core-button--link-disabled-ring-focus--computed: var(--outline-core-button--link-disabled-ring-focus, var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-gray-500));
}
