/*
Default CSS Variables for the `outline-core-button` primary variant.
You can override these using `outline.theme.css`,
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
The variables used to override the default
`outline-core-button` styling can be found in
`outline-core-button.ts` delcared with the `@cssprop` annotations.
*/
/*
// ### CSS Variables

// > The following CSS Variables are used to style the primary buttons.

// - \`--outline-core-button--primary-padding\`: Padding for the primary buttons.
// - \`--outline-core-button--primary-radius\`: Border radius for the primary buttons.
// - \`--outline-core-button--primary-bg-color\`: Background color for the primary buttons.
// - \`--outline-core-button--primary-text-color\`: Text color for the primary buttons.
// - \`--outline-core-button--primary-weight\`: Font weight for the primary buttons.
// - \`--outline-core-button--primary-ring\`: Border ring for the primary buttons.
// - \`--outline-core-button--primary-bg-color-hover\`: Background color for the primary buttons when hovered.
// - \`--outline-core-button--primary-text-color-hover\`: Text color for the primary buttons when hovered.
// - \`--outline-core-button--primary-weight-hover\`: Font weight for the primary buttons when hovered.
// - \`--outline-core-button--primary-ring-hover\`: Border ring for the primary buttons when hovered.
// - \`--outline-core-button--primary-bg-color-focus\`: Background color for the primary buttons when focused.
// - \`--outline-core-button--primary-text-color-focus\`: Text color for the primary buttons when focused.
// - \`--outline-core-button--primary-weight-focus\`: Font weight for the primary buttons when focused.
// - \`--outline-core-button--primary-ring-focus\`: Border ring for the primary buttons when focused.
// - \`--outline-core-button--primary-disabled-bg-color\`: Background color for the primary buttons when disabled.
// - \`--outline-core-button--primary-disabled-text-color\`: Text color for the primary buttons when disabled.
// - \`--outline-core-button--primary-disabled-weight\`: Font weight for the primary buttons when disabled.
// - \`--outline-core-button--primary-disabled-ring\`: Border ring for the primary buttons when disabled.
// - \`--outline-core-button--primary-disabled-bg-color-focus\`: Background color for the primary buttons when disabled and focused.
// - \`--outline-core-button--primary-disabled-text-color-focus\`: Text color for the primary buttons when disabled and focused.
// - \`--outline-core-button--primary-disabled-weight-focus\`: Font weight for the primary buttons when disabled and focused.
// - \`--outline-core-button--primary-disabled-ring-focus\`: Border ring for the primary buttons when disabled and focused.
*/

:host {

  /* Primary Button(s) */
  --outline-core-button--primary-padding--computed: var(--outline-core-button--primary-padding, var(--outline-core-button--padding--computed));
  --outline-core-button--primary-radius--computed: var(--outline-core-button--primary-radius, var(--outline-core-button--radius--computed));

  /* Primary Button(s) - Default */
  --outline-core-button--primary-bg-color--computed: var(--outline-core-button--primary-bg-color, var(--outline-blue-600));
  --outline-core-button--primary-color--computed: var(--outline-core-button--primary-color, var(--outline-white));
  --outline-core-button--primary-weight--computed: var(--outline-core-button--primary-weight, var(--outline-core-button--weight--computed));
  --outline-core-button--primary-ring--computed: var(--outline-core-button--primary-ring, none);

  /* Primary Button(s) - Hover */
  --outline-core-button--primary-bg-color-hover--computed: var(--outline-core-button--primary-bg-color-hover, var(--outline-white));
  --outline-core-button--primary-color-hover--computed: var(--outline-core-button--primary-color-hover, var(--outline-blue-600));
  --outline-core-button--primary-weight-hover--computed: var(--outline-core-button--primary-weight-hover, var(--outline-core-button--weight--computed));
  --outline-core-button--primary-ring-hover--computed: var(--outline-core-button--primary-ring-hover, var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-blue-600));

  /* Primary Button(s) - Focus */
  --outline-core-button--primary-bg-color-focus--computed: var(--outline-core-button--primary-bg-color-focus, var(--outline-white));
  --outline-core-button--primary-color-focus--computed: var(--outline-core-button--primary-color-focus, var(--outline-blue-600));
  --outline-core-button--primary-weight-focus--computed: var(--outline-core-button--primary-weight-focus, var(--outline-core-button--weight--computed));
  --outline-core-button--primary-ring-focus--computed: var(--outline-core-button--primary-ring-focus, var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-blue-600));

  /* Primary Button(s) - Disabled */
  --outline-core-button--primary-disabled-bg-color--computed: var(--outline-core-button--primary-disabled-bg-color, var(--outline-white));
  --outline-core-button--primary-disabled-color--computed: var(--outline-core-button--primary-disabled-color, var(--outline-gray-400));
  --outline-core-button--primary-disabled-weight--computed: var(--outline-core-button--primary-disabled-weight, var(--outline-core-button--weight--computed));
  --outline-core-button--primary-disabled-ring--computed: var(--outline-core-button--primary-disabled-ring, var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-gray-300));

  /* Primary Button(s) - Disabled:Focus */
  --outline-core-button--primary-disabled-bg-color-focus--computed: var(--outline-core-button--primary-disabled-bg-color-focus, var(--outline-white));
  --outline-core-button--primary-disabled-color-focus--computed: var(--outline-core-button--primary-disabled-color-focus, var(--outline-gray-400));
  --outline-core-button--primary-disabled-weight-focus--computed: var(--outline-core-button--primary-disabled-weight-focus, var(--outline-core-button--weight--computed));
  --outline-core-button--primary-disabled-ring-focus--computed: var(--outline-core-button--primary-disabled-ring-focus, var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-gray-400));
}
