/** Jake, I removed your notes I promise I read them. - Morgan **/

ol,
ul {
  list-style: none;

  margin: .5rem;

  padding: .5rem;

  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  gap: .5rem;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: .5rem;

  margin: .5rem; 
}

/**
* Using width,height,background,transform for breadcrumb separator because
* content: "/"; was getting read by screen readers.
*/
li:not(:first-of-type)::before {
  content: '';
  display: flex;
  margin-right: .5rem; 
  height: 1em;
  width: 1px;
  background: currentColor;
  transform: rotate(23deg);
}

a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  padding:.5rem;
  margin:.5rem; 


  &:hover {
    text-decoration: underline;
  }
  &:focus,
  &:focus-visible {
    outline: solid 3px blue; 
    border-radius: var(--border-radius-button-default);
    outline-offset: var(--spacing-px);

    @screen lg {
      outline: solid 3px blue;
    }
  }
}

.separator {
  margin-left: .5rem; 
}

.previous-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
