ol,
ul {
  list-style: none;

  margin: 0.5rem;

  padding: 0.5rem;

  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  gap: 0.5rem;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0.5rem;

  margin: 0.5rem;
}

/**
* Using width,height,background,transform for breadcrumb separator because
* content: "/"; was getting read by screen readers.
*/
li:not(:first-of-type)::before {
  content: '';
  display: flex;
  margin-right: 0.5rem;
  height: 1em;
  width: 1px;
  background: currentColor;
  transform: rotate(23deg);
}

a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  padding: 0.5rem;
  margin: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
  &:focus,
  &:focus-visible {
    outline: solid 3px blue;
    border-radius: var(--border-radius-button-default);
    outline-offset: var(--spacing-px);

  }
}

.separator {
  margin-left: 0.5rem;
}

.previous-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
