/*
Default CSS Variables for `outline-list`.
You can override these using `outline.theme.css`, 
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
The variables used to override the default 
`outline-list` styling can be found in 
`outline-list.ts` delcared with the `@cssprop` annotations.
*/

--outline--list-default-spacing: var(--spacing-4);
--outline--list-default-spacing-xs: var(--outline--list-default-spacing, var(--spacing-4));
--outline--list-default-spacing-sm: var(--outline--list-default-spacing, var(--spacing-4));
--outline--list-default-spacing-md: var(--outline--list-default-spacing, var(--spacing-4));
--outline--list-default-spacing-lg: var(--outline--list-default-spacing, var(--spacing-4));
--outline--list-default-spacing-xl: var(--outline--list-default-spacing, var(--spacing-4));
--outline--list-default-spacing-xxl: var(--outline--list-default-spacing, var(--spacing-4));
--outline--list-default-spacing-xxxl: var(--outline--list-default-spacing, var(--spacing-4));

