:host,
a,
::slotted(a) {
  @apply font-body no-underline transition-colors duration-300;
  color: var(--outline-link-color-default);
}

:host(:hover),
a:hover,
::slotted(a:hover) {
  @apply underline;
  color: var(--outline-link-color-hover) !important;
}

:host(:focus),
a:focus,
::slotted(a:focus) {
  @apply underline outline-none;
  color: var(--outline-link-color-focus) !important;
}
