@import url('https://rsms.me/inter/inter.css');
:root {
  --brand-primary: #2563eb;
  --brand-secondary: #059669;
  --brand-tertiary: #dc2626;
  --brand-quaternary: #d97706;
  --brand-quinary: #9333ea;
  --brand-senary: #db2777;
  --brand-septenary: #4f46e5;
  --brand-octonary: #525252;
  --brand-nonary: #1e3a8a;
  --brand-denary: #171717;
  --status-success: #2f855a;
  --status-warning: #b64301;
  --status-error: #c53030;
  --status-info: #1e3a8a;
  --outline-phase2-blue: #0080ff;
  --outline-karma-coral: #fa5c5c;
  --outline-soft-black: #171717;
  --outline-not-gray: #cfc7d4;
  --outline-misty-teal: #73f2e5;
  --outline-electric-violet: #9484ff;
  --outline-dusty-blue: #7fc7ee;
  --outline-transparent: transparent;
  --outline-white: #fff;
  --outline-black: #000;

  --outline-gray-50: #fafafa;
  --outline-gray-100: #f5f5f5;
  --outline-gray-200: #e5e5e5;
  --outline-gray-300: #d4d4d4;
  --outline-gray-400: #a3a3a3;
  --outline-gray-500: #737373;
  --outline-gray-600: #525252;
  --outline-gray-700: #404040;
  --outline-gray-800: #262626;
  --outline-gray-900: #171717;

  --outline-blue-50: #eff6ff;
  --outline-blue-100: #dbeafe;
  --outline-blue-200: #bfdbfe;
  --outline-blue-300: #93c5fd;
  --outline-blue-400: #60a5fa;
  --outline-blue-500: #3b82f6;
  --outline-blue-600: #2563eb;
  --outline-blue-700: #1d4ed8;
  --outline-blue-800: #1e40af;
  --outline-blue-900: #1e3a8a;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --yellow-50: #fffbeb;
  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fcd34d;
  --yellow-400: #fbbf24;
  --yellow-500: #f59e0b;
  --yellow-600: #d97706;
  --yellow-700: #b45309;
  --yellow-800: #92400e;
  --yellow-900: #78350f;
  --green-50: #ecfdf5;
  --green-100: #d1fae5;
  --green-200: #a7f3d0;
  --green-300: #6ee7b7;
  --green-400: #34d399;
  --green-500: #10b981;
  --green-600: #059669;
  --green-700: #047857;
  --green-800: #065f46;
  --green-900: #064e3b;
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;
  --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-xxl: 1440px;
  --screen-xxxl: 2180px;

  --spacing-0: 0px;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;
  --spacing-px: 1px;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3.5rem;
  --fs-6xl: 4.5rem;
  --fs-7xl: 5.5rem;
  --fs-8xl: 6.5rem;
  --fs-9xl: 7.5rem;

  --lh-xs: 1rem;
  --lh-sm: 1.25rem;
  --lh-base: 1.5rem;
  --lh-lg: 1.75rem;
  --lh-xl: 1.75rem;
  --lh-2xl: 2rem;
  --lh-3xl: 2.25rem;
  --lh-4xl: 2.5rem;
  --lh-5xl: 3.75rem;
  --lh-6xl: 4.75rem;
  --lh-7xl: 5.75rem;
  --lh-8xl: 6.75rem;
  --lh-9xl: 7.75rem;

  --ff-display: 'Inter var', 'Helvetica', 'Arial', 'sans-serif';
  --ff-body: 'Inter var', 'Helvetica', 'Arial', 'sans-serif';
  --ff-demo: 'Inter var', 'Helvetica', 'Arial', 'sans-serif';

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --fs-h1: 4rem;
  --fs-h1-medium: 3rem;
  --fs-h1-small: 2.5rem;

  --lh-h1: 3rem;
  --lh-h1-medium: 3.75rem;
  --lh-h1-small: 2rem;

  --fs-h2: 2.75rem;
  --fs-h2-medium: 2.5rem;
  --fs-h2-small: 2rem;

  --lh-h2: 3.5rem;
  --lh-h2-medium: 3rem;
  --lh-h2-small: 2.5rem;

  --fs-h3: 2rem;
  --fs-h3-medium: 1.75rem;
  --fs-h3-small: 1.5rem;

  --lh-h3: 2.25rem;
  --lh-h3-medium: 2rem;
  --lh-h3-small: 1.75rem;

  --fs-h4: 1.5rem;
  --fs-h4-medium: 1.5rem;
  --fs-h4-small: 1.375rem;

  --lh-h4: 2rem;
  --lh-h4-medium: 1.75rem;
  --lh-h4-small: 1.75rem;

  --fs-h5: 1.375rem;
  --fs-h5-medium: 1.25rem;
  --fs-h5-small: 1.125rem;

  --lh-h5: 1.75rem;
  --lh-h5-medium: 1.5rem;
  --lh-h5-small: 1.375rem;

  --fs-h6: 1.125rem;
  --fs-h6-medium: 1.125rem;
  --fs-h6-small: 1rem;

  --lh-h6: 1.5rem;
  --lh-h6-medium: 1.375rem;
  --lh-h6-small: 1.25rem;
  --outline-ring-width: 2px;
  --outline-ring-inset: ;
  --outline-ring-offset-width: 2px;
  --outline-ring-offset-color: var(--outline-gray-100);
  --outline-ring-color: var(--outline-soft-black);
  --outline-ring-offset-shadow: var(--outline-ring-inset) 0 0 0
    var(--outline-ring-offset-width) var(--outline-ring-offset-color);
  --outline-ring-shadow: var(--outline-ring-inset) 0 0 0
    calc(var(--outline-ring-width) + var(--outline-ring-offset-width))
    var(--outline-ring-color);

  --outline-shadow: 0 0 rgba(0, 0, 0, 0);
  --outline-shadow-colored: 0 0 rgba(0, 0, 0, 0);
}
/* ! tailwindcss v3.0.0 | MIT License | https://tailwindcss.com */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
::before,
::after {
  --tw-content: '';
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role='button'] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
.rotate-90,
.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}
.border-2,
.border,
.border-t-2,
.border-b,
.md\:border-r,
.md\:border-b {
  border-color: currentColor;
}
.shadow-md {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
.filter {
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.visible {
  visibility: visible;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.col-start-3 {
  grid-column-start: 3;
}
.m-12 {
  margin: 3rem;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-0 {
  margin-bottom: 0px;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}
.h-6 {
  height: 1.5rem;
}
.max-h-80 {
  max-height: 20rem;
}
.w-full {
  width: 100%;
}
.w-40 {
  width: 10rem;
}
.w-32 {
  width: 8rem;
}
.w-1\/2 {
  width: 50%;
}
.w-2\/3 {
  width: 66.666667%;
}
.table-auto {
  table-layout: auto;
}
.rotate-90 {
  --tw-rotate: 90deg;
  transform: var(--tw-transform);
}
.transform {
  transform: var(--tw-transform);
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.justify-self-end {
  justify-self: end;
}
.overflow-hidden {
  overflow: hidden;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.rounded {
  border-radius: 0.25rem;
}
.border-2 {
  border-width: 2px;
}
.border {
  border-width: 1px;
}
.border-t-2 {
  border-top-width: 2px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-dashed {
  border-style: dashed;
}
.border-outline-blue-600 {
  border-color: #2563eb;
  border-color: var(--outline-blue-600);
}
.bg-outline-blue-100 {
  background-color: #dbeafe;
  background-color: var(--outline-blue-100);
}
.bg-outline-phase2-blue {
  background-color: #0080ff;
  background-color: var(--outline-phase2-blue);
}
.bg-outline-soft-black {
  background-color: #171717;
  background-color: var(--outline-soft-black);
}
.object-cover {
  object-fit: cover;
}
.p-4 {
  padding: 1rem;
}
.p-8 {
  padding: 2rem;
}
.p-3 {
  padding: 0.75rem;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-64 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pt-12 {
  padding-top: 3rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.font-display {
  font-family: 'Inter var', 'Helvetica', 'Arial', 'sans-serif';
  font-family: var(--ff-display);
}
.font-body {
  font-family: 'Inter var', 'Helvetica', 'Arial', 'sans-serif';
  font-family: var(--ff-body);
}
.text-lg {
  font-size: 1.125rem;
  font-size: var(--fs-lg);
  line-height: 1.75rem;
  line-height: var(--lh-lg);
}
.text-xs {
  font-size: 0.75rem;
  font-size: var(--fs-xs);
  line-height: 1rem;
  line-height: var(--lh-xs);
}
.text-base {
  font-size: 1rem;
  font-size: var(--fs-base);
  line-height: 1.5rem;
  line-height: var(--lh-base);
}
.text-sm {
  font-size: 0.875rem;
  font-size: var(--fs-sm);
  line-height: 1.25rem;
  line-height: var(--lh-sm);
}
.text-3xl {
  font-size: 1.875rem;
  font-size: var(--fs-3xl);
  line-height: 2.25rem;
  line-height: var(--lh-3xl);
}
.text-xl {
  font-size: 1.25rem;
  font-size: var(--fs-xl);
  line-height: 1.75rem;
  line-height: var(--lh-xl);
}
.font-semibold {
  font-weight: 600;
  font-weight: var(--fw-semibold);
}
.font-thin {
  font-weight: 200;
  font-weight: var(--fw-extralight);
}
.font-extralight {
  font-weight: 100;
  font-weight: var(--fw-thin);
}
.font-light {
  font-weight: 300;
  font-weight: var(--fw-light);
}
.font-normal {
  font-weight: 400;
  font-weight: var(--fw-normal);
}
.font-medium {
  font-weight: 500;
  font-weight: var(--fw-medium);
}
.font-bold {
  font-weight: 700;
  font-weight: var(--fw-bold);
}
.font-extrabold {
  font-weight: 800;
  font-weight: var(--fw-extrabold);
}
.font-black {
  font-weight: 900;
  font-weight: var(--fw-black);
}
.italic {
  font-style: italic;
}
.text-outline-white {
  color: #fff;
  color: var(--outline-white);
}
.underline {
  text-decoration: underline;
}
.no-underline {
  text-decoration: none;
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline {
  outline-style: solid;
}
.filter {
  filter: var(--tw-filter);
}
.transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.container {
  width: 100%;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 2180px) {
  .container {
    max-width: 2180px;
  }
}
@media (min-width: 640px) {
  .sm\:hover\:active\:disabled\:opacity-75:disabled:active:hover {
    opacity: 0.75;
  }
}
@media (min-width: 768px) {
  .md\:mt-10 {
    margin-top: 2.5rem;
  }
  .md\:flex {
    display: flex;
  }
  .md\:border-r {
    border-right-width: 1px;
  }
  .md\:border-b {
    border-bottom-width: 1px;
  }
  .md\:p-8 {
    padding: 2rem;
  }
  .md\:pt-24 {
    padding-top: 6rem;
  }
  .md\:pb-24 {
    padding-bottom: 6rem;
  }
  .md\:pb-0 {
    padding-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .lg\:mb-4 {
    margin-bottom: 1rem;
  }
  .lg\:mb-2 {
    margin-bottom: 0.5rem;
  }
}
