@import './css-variables/vars-breadcrumbs.css';

.outline-breadcrumbs {
  color: var(--outline-breadcrumb--text-color--computed);
  background: var(--outline-breadcrumb--bg-color--computed);
  padding: var(--outline-breadcrumb--bg-padding--computed);
}

a,
::slotted(a) {
  @apply font-body transition-colors duration-300;
  text-decoration: var(--outline-breadcrumb--link-decoration--computed);
  color: var(--outline-breadcrumb--link-color--computed);
}

a:hover,
::slotted(a:hover) {
  text-decoration: var(--outline-breadcrumb--link-decoration-hover--computed);
  color: var(--outline-breadcrumb--link-color-hover--computed);
}

a:focus,
::slotted(a:focus) {
  text-decoration: var(--outline-breadcrumb--link-decoration-focus--computed);
  outline: none;
  color: var(--outline-breadcrumb--link-color-focus--computed);
}

.separator {
  margin-left: var(--outline-breadcrumb--separator-spacing--computed);
  margin-right: var(--outline-breadcrumb--separator-spacing--computed);
}
