.accordion-title {
  @apply font-display text-4xl text-outline-soft-black;
}

.accordion-title.mobile {
  @apply text-lg text-outline-soft-black;
}

::slotted(outline-heading) {
  margin-bottom: 2.5rem;
}

[aria-hidden='true'] {
  display: none !important;
}
