@import './css-variables/vars-link.css';
a {
  font-family: var(--ff-body) ;
  text-decoration: var(
    --outline-core-link--text-decoration--computed
  ) ;
  color: var(--outline-core-link--color--computed) ;
  transition-property: var(
    --outline-core-link--transition-property--computed
  ) ;
  transition-timing-function: var(
    --outline-core-link--transition-timing-function--computed
  ) ;
  transition-duration: var(
    --outline-core-link--transition-duration--computed
  ) ;
  &:hover {
      text-decoration: var(
          --outline-core-link--text-decoration-hover--computed
        ) ;
        color: var(--outline-core-link--color-hover--computed) ;
  }
  &:focus {
      text-decoration: var(
          --outline-core-link--text-decoration-focus--computed
        ) ;
        color: var(--outline-core-link--color-focus--computed) ;
  }
}