.global-theme {
          --colors-black: #171717;
  --colors-white: #ffffff;
  --colors-blue-50: #eceefe;
  --colors-blue-100: #d8ddfd;
  --colors-blue-200: #b1bafb;
  --colors-blue-300: #8b98f9;
  --colors-blue-400: #6475f7;
  --colors-blue-500: #3d53f5;
  --colors-blue-600: #3142c4;
  --colors-blue-700: #253293;
  --colors-blue-800: #182162;
  --colors-blue-900: #0c1131;
  --colors-blue-950: #060818;
  --colors-purple-50: #eeecfb;
  --colors-purple-100: #ddd9f7;
  --colors-purple-200: #bbb2ef;
  --colors-purple-300: #9a8ce8;
  --colors-purple-400: #7865e0;
  --colors-purple-500: #563fd8;
  --colors-purple-600: #4532ad;
  --colors-purple-700: #342682;
  --colors-purple-800: #221956;
  --colors-purple-900: #110d2b;
  --colors-purple-950: #090616;
  --colors-mint-50: #f9fdfe;
  --colors-mint-100: #f4fafd;
  --colors-mint-200: #e9f6fa;
  --colors-mint-300: #ddf1f8;
  --colors-mint-400: #d2edf5;
  --colors-mint-500: #c7e8f3;
  --colors-mint-600: #9fbac2;
  --colors-mint-700: #778b92;
  --colors-mint-800: #505d61;
  --colors-mint-900: #282e31;
  --colors-mint-950: #171A1C;
  --colors-green-50: #F4FBF7;
  --colors-green-100: #e8f6ee;
  --colors-green-200: #d1eedd;
  --colors-green-300: #a3ddbc;
  --colors-green-400: #5dc389;
  --colors-green-500: #18a957;
  --colors-green-600: #11763d;
  --colors-green-700: #0a4423;
  --colors-green-800: #052211;
  --colors-green-900: #021109;
  --colors-green-950: #010905;
  --colors-yellow-50: #FFFBF5;
  --colors-yellow-100: #fff8eb;
  --colors-yellow-200: #fff1d7;
  --colors-yellow-300: #ffe4af;
  --colors-yellow-400: #ffcf74;
  --colors-yellow-500: #ffbb38;
  --colors-yellow-600: #b38327;
  --colors-yellow-700: #664b16;
  --colors-yellow-800: #33250b;
  --colors-yellow-900: #191306;
  --colors-yellow-950: #0C0903;
  --colors-red-50: #FDF1F4;
  --colors-red-100: #fce8ec;
  --colors-red-200: #f9d0d9;
  --colors-red-300: #f2a2b3;
  --colors-red-400: #e95c7b;
  --colors-red-500: #df1642;
  --colors-red-600: #9c0f2e;
  --colors-red-700: #59091a;
  --colors-red-800: #2d040d;
  --colors-red-900: #160207;
  --colors-red-950: #090103;
  --colors-grey-50: #fcfcfc;
  --colors-grey-100: #f5f5f5;
  --colors-grey-200: #eeeeee;
  --colors-grey-300: #e0e0e0;
  --colors-grey-400: #bdbdbd;
  --colors-grey-500: #9e9e9e;
  --colors-grey-600: #757575;
  --colors-grey-700: #616161;
  --colors-grey-800: #424242;
  --colors-grey-900: #323232;
  --colors-grey-950: #1F1F1F;
  --gradient-warm-flame-left-to-right: linear-gradient(180deg, #ff9a9e 0%, #fad0c4 100%);
  --gradient-warm-flame-top-to-bottom: linear-gradient(270deg, #ff9a9e 0%, #fad0c4 100%);
  --gradient-night-fade-left-to-right: linear-gradient(180deg, #a18cd1 0%, #fbc2eb 100%);
  --gradient-night-fade-top-to-bottom: linear-gradient(270deg, #a18cd1 0%, #fbc2eb 100%);
  --gradient-juicy-peach-left-to-right: linear-gradient(0deg, #ffecd2 0%, #fcb69f 100%);
  --gradient-juicy-peach-top-to-bottom: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
  --gradient-sunny-morning-left-to-right: linear-gradient(0deg, #f7ce68 0%, #fbab7e 100%);
  --gradient-sunny-morning-top-to-bottom: linear-gradient(90deg, #f7ce68 0%, #fbab7e 100%);
  --gradient-winter-neva-left-to-right: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);
  --gradient-winter-neva-top-to-bottom: linear-gradient(270deg, #a1c4fd 0%, #c2e9fb 100%);
  --gradient-loupe-fiesta-left-to-right: linear-gradient(180deg, #105efb 0%, #199afb 100%);
  --gradient-loupe-fiesta-top-to-bottom: linear-gradient(270deg, #105efb 0%, #199afb 100%);
  --gradient-soft-grass-left-to-right: linear-gradient(0deg, #deecdd 0%, #c1dfc4 100%);
  --gradient-soft-grass-top-to-bottom: linear-gradient(90deg, #deecdd 0%, #c1dfc4 100%);
  --gradient-ripe-malinka-left-to-right: linear-gradient(0deg, #f093fb 0%, #f5576c 100%);
  --gradient-ripe-malinka-top-to-bottom: linear-gradient(90deg, #f093fb 0%, #f5576c 100%);
  --gradient-new-york-left-to-right: linear-gradient(180deg, #ace0f9 0%, #fff1eb 100%);
  --gradient-new-york-top-to-bottom: linear-gradient(270deg, #ace0f9 0%, #fff1eb 100%);
  --gradient-plum-plate-left-to-right: linear-gradient(0deg, #667eea 0%, #764ba2 100%);
  --gradient-plum-plate-top-to-bottom: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  --gradient-light-mist-left-to-right: linear-gradient(180deg, #e8e8e8 0%, #ffffff 100%);
  --gradient-light-mist-top-to-bottom: linear-gradient(270deg, #e8e8e8 0%, #ffffff 100%);
  --gradient-miami-shore-left-to-right: linear-gradient(180deg, #5d45f9 0%, #267deb 100%);
  --gradient-miami-shore-top-to-bottom: linear-gradient(270deg, #5d45f9 0%, #267deb 100%);
  --gradient-vanusa-left-to-right: linear-gradient(180deg, #89216b 0%, #da4453 100%);
  --gradient-vanusa-top-to-bottom: linear-gradient(270deg, #89216b 0%, #da4453 100%);
  --gradient-ocean-view-left-to-right: linear-gradient(180deg, #3f2b96 0%, #a8c0ff 100%);
  --gradient-ocean-view-top-to-bottom: linear-gradient(270deg, #3f2b96 0%, #a8c0ff 100%);
  --gradient-sandy-bleue-left-to-right: linear-gradient(180deg, #ffe8b7 0%, #b8d8ff 100%);
  --gradient-sandy-bleue-top-to-bottom: linear-gradient(270deg, #ffe8b7 0%, #b8d8ff 100%);
  --gradient-quepal-left-to-right: linear-gradient(180deg, #38ef7d 0%, #11998e 100%);
  --gradient-quepal-top-to-bottom: linear-gradient(270deg, #38ef7d 0%, #11998e 100%);
  --gradient-sublime-light-left-to-right: linear-gradient(180deg, #6a82fb 0%, #fc5c7d 100%);
  --gradient-sublime-light-top-to-bottom: linear-gradient(270deg, #6a82fb 0%, #fc5c7d 100%);
  --gradient-lawrencium-left-to-right: linear-gradient(180deg, #24243e 0%, #0f0c29 100%);
  --gradient-lawrencium-top-to-bottom: linear-gradient(270deg, #24243e 0%, #0f0c29 100%);
  --gradient-happy-people-left-to-right: linear-gradient(180deg, #96c93d 0%, #00b09b 100%);
  --gradient-happy-people-top-to-bottom: linear-gradient(270deg, #96c93d 0%, #00b09b 100%);
  --gradient-delicate-left-to-right: linear-gradient(180deg, #d3cce3 0%, #e9e4f0 100%);
  --gradient-delicate-top-to-bottom: linear-gradient(270deg, #d3cce3 0%, #e9e4f0 100%);
  --gradient-orange-fun-left-to-right: linear-gradient(180deg, #fc4a1a 0%, #f7b733 100%);
  --gradient-orange-fun-top-to-bottom: linear-gradient(270deg, #fc4a1a 0%, #f7b733 100%);
  --gradient-purpink-left-to-right: linear-gradient(180deg, #7f00ff 0%, #e100ff 100%);
  --gradient-purpink-top-to-bottom: linear-gradient(270deg, #7f00ff 0%, #e100ff 100%);
  --gradient-dull-days-left-to-right: linear-gradient(180deg, #c9d6ff 0%, #e2e2e2 100%);
  --gradient-dull-days-top-to-bottom: linear-gradient(270deg, #c9d6ff 0%, #e2e2e2 100%);
  --gradient-scooter-left-to-right: linear-gradient(180deg, #5b86e5 0%, #36d1dc 100%);
  --gradient-scooter-top-to-bottom: linear-gradient(270deg, #5b86e5 0%, #36d1dc 100%);
  --gradient-overlay-dark-bottom-shade: linear-gradient(90deg, #30303000 0%, #303030d9 100%);
  --gradient-overlay-darkop-shade: linear-gradient(90deg, #303030d9 0%, #30303000 100%);
  --gradient-overlay-light-bottom-shade: linear-gradient(90deg, #ffffff00 0%, #ffffffd9 100%);
  --gradient-overlay-lightop-shade: linear-gradient(90deg, #ffffffd9 0%, #ffffff00 100%);
  --shadows-blur-20: 3;
  --shadows-blur-40: 4;
  --shadows-blur-60: 8;
  --shadows-blur-80: 16;
  --shadows-blur-100: 24;
  --shadows-blur-base: 1;
  --shadows-y-20: 1;
  --shadows-y-40: 2;
  --shadows-y-60: 4;
  --shadows-y-80: 8;
  --shadows-y-100: 16;
      }