.light-theme {
          --theme-fg-opacity-1: #ffffff03;
  --theme-fg-opacity-5: #ffffff0d;
  --theme-fg-opacity-10: #ffffff1a;
  --theme-fg-opacity-20: #ffffff33;
  --theme-fg-opacity-30: #ffffff4d;
  --theme-fg-opacity-40: #ffffff66;
  --theme-fg-opacity-50: #ffffff80;
  --theme-fg-opacity-60: #ffffff99;
  --theme-fg-opacity-70: #ffffffb3;
  --theme-fg-opacity-80: #ffffffcc;
  --theme-fg-opacity-90: #ffffffe6;
  --theme-fg-on-dark: #ffffff;
  --theme-fg-default: #171717;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-muted: #616161;
  --theme-fg-subtle: #9e9e9e;
  --theme-fg-on-disabled: #757575;
  --theme-fg-disabled: #bdbdbd;
  --theme-border-default: #eeeeee;
  --theme-overlay-bg: #171717;
  --theme-bg-surface: #ffffff;
  --theme-bg-subtle: #eeeeee;
  --theme-bg-muted: #e0e0e0;
  --theme-bg-canvas: #fcfcfc;
  --theme-accent-disabled: #e0e0e0;
  --theme-accent-default: #df1642;
  --theme-accent-subtle: #FDF1F4;
  --theme-accent-muted: #e95c7b;
  --theme-accent-emphasis: #9c0f2e;
  --theme-warning-default: #b38327;
  --theme-warning-subtle: #fff8eb;
  --theme-warning-muted: #ffe4af;
  --theme-warning-emphasis: #ffbb38;
  --theme-warning-on-warning: #171717;
  --theme-info-default: #3142c4;
  --theme-info-subtle: #d8ddfd;
  --theme-info-muted: #8b98f9;
  --theme-info-emphasis: #3d53f5;
  --theme-info-on-info: #ffffff;
  --theme-error-default: #9c0f2e;
  --theme-error-subtle: #fce8ec;
  --theme-error-muted: #e95c7b;
  --theme-error-emphasis: #df1642;
  --theme-error-on-error: #ffffff;
  --theme-success-default: #11763d;
  --theme-success-subtle: #e8f6ee;
  --theme-success-muted: #5dc389;
  --theme-success-emphasis: #18a957;
  --theme-success-on-success: #ffffff;
  --theme-input-background: #ffffff;
  --theme-input-text: #424242;
  --theme-input-placeholder: #9e9e9e;
  --theme-input-border-default: #e0e0e0;
  --theme-input-border-disabled: #eeeeee;
  --theme-input-fg-disabled: #e0e0e0;
  --theme-shadow-default: #303133;
  --theme-shadow-opacity-base: 0.05;
  --theme-shadow-opacity-blur: 0.1;
  --shadow-theme-20: [object Object],[object Object];
  --shadow-theme-40: [object Object],[object Object];
  --shadow-theme-60: [object Object],[object Object];
  --shadow-theme-80: [object Object],[object Object];
  --shadow-theme-100: [object Object],[object Object];
  --font-families-headlines: Inter;
  --font-families-body: Inter;
  --line-heights-headlines-xl: 110%;
  --line-heights-headlines-lg: 110%;
  --line-heights-headlines-default: 110%;
  --line-heights-headlines-sm: 130%;
  --line-heights-body-relaxed: 175%;
  --line-heights-body-default: 150%;
  --font-weights-headlines-bold: Bold;
  --font-weights-headlines-regular: Regular;
  --font-weights-body-bold: Bold;
  --font-weights-body-regular: Regular;
  --font-size-base: 16px;
  --font-size-scale: 1.2px;
  --font-size-xxs: 9px;
  --font-size-xs: 11px;
  --font-size-sm: 13px;
  --font-size-lg: 19px;
  --font-size-xl: 23px;
  --font-size-2xl: 28px;
  --font-size-3xl: 34px;
  --font-size-4xl: 41px;
  --font-size-5xl: 49px;
  --font-size-6xl: 59px;
  --font-size-7xl: 71px;
  --font-size-8xl: 85px;
  --font-size-9xl: 102px;
  --font-size-10xl: 122px;
  --letter-spacing-body: 0%;
  --letter-spacing-headlines: -3%;
  --letter-spacing-buttons: 3%;
  --letter-spacing-captions: 0%;
  --paragraph-spacing-default: 0;
  --typography-colossus-bold-font-family: Inter;
  --typography-colossus-bold-font-weight: Bold;
  --typography-colossus-bold-line-height: 110%;
  --typography-colossus-bold-font-size: 122;
  --typography-colossus-bold-letter-spacing: -3%;
  --typography-colossus-bold-paragraph-spacing: 0;
  --typography-colossus-bold-text-case: upperase;
  --typography-colossus-bold-text-decoration: none;
  --typography-colossus-regular-font-family: Inter;
  --typography-colossus-regular-font-weight: Regular;
  --typography-colossus-regular-line-height: 110%;
  --typography-colossus-regular-font-size: 122;
  --typography-colossus-regular-letter-spacing: -3%;
  --typography-colossus-regular-paragraph-spacing: 0;
  --typography-colossus-regular-text-case: upperase;
  --typography-colossus-regular-text-decoration: none;
  --typography-display-bold-font-family: Inter;
  --typography-display-bold-font-weight: Bold;
  --typography-display-bold-line-height: 110%;
  --typography-display-bold-font-size: 71;
  --typography-display-bold-letter-spacing: -3%;
  --typography-display-bold-paragraph-spacing: 0;
  --typography-display-bold-text-case: upperase;
  --typography-display-bold-text-decoration: none;
  --typography-display-regular-font-family: Inter;
  --typography-display-regular-font-weight: Regular;
  --typography-display-regular-line-height: 110%;
  --typography-display-regular-font-size: 71;
  --typography-display-regular-letter-spacing: -3%;
  --typography-display-regular-paragraph-spacing: 0;
  --typography-display-regular-text-case: upperase;
  --typography-display-regular-text-decoration: none;
  --typography-hero-bold-font-family: Inter;
  --typography-hero-bold-font-weight: Bold;
  --typography-hero-bold-line-height: 110%;
  --typography-hero-bold-font-size: 85;
  --typography-hero-bold-letter-spacing: -3%;
  --typography-hero-bold-paragraph-spacing: 0;
  --typography-hero-bold-text-case: upperase;
  --typography-hero-bold-text-decoration: none;
  --typography-hero-regular-font-family: Inter;
  --typography-hero-regular-font-weight: Regular;
  --typography-hero-regular-line-height: 110%;
  --typography-hero-regular-font-size: 85;
  --typography-hero-regular-letter-spacing: -3%;
  --typography-hero-regular-paragraph-spacing: 0;
  --typography-hero-regular-text-case: upperase;
  --typography-hero-regular-text-decoration: none;
  --typography-uber-bold-font-family: Inter;
  --typography-uber-bold-font-weight: Bold;
  --typography-uber-bold-line-height: 110%;
  --typography-uber-bold-font-size: 102;
  --typography-uber-bold-letter-spacing: -3%;
  --typography-uber-bold-paragraph-spacing: 0;
  --typography-uber-bold-text-case: upperase;
  --typography-uber-bold-text-decoration: none;
  --typography-uber-regular-font-family: Inter;
  --typography-uber-regular-font-weight: Regular;
  --typography-uber-regular-line-height: 110%;
  --typography-uber-regular-font-size: 102;
  --typography-uber-regular-letter-spacing: -3%;
  --typography-uber-regular-paragraph-spacing: 0;
  --typography-uber-regular-text-case: upperase;
  --typography-uber-regular-text-decoration: none;
  --typography-headline-1-bold-font-family: Inter;
  --typography-headline-1-bold-font-weight: Bold;
  --typography-headline-1-bold-line-height: 110%;
  --typography-headline-1-bold-font-size: 59;
  --typography-headline-1-bold-letter-spacing: -3%;
  --typography-headline-1-bold-paragraph-spacing: 0;
  --typography-headline-1-bold-text-case: upperase;
  --typography-headline-1-bold-text-decoration: none;
  --typography-headline-1-regular-font-family: Inter;
  --typography-headline-1-regular-font-weight: Regular;
  --typography-headline-1-regular-line-height: 110%;
  --typography-headline-1-regular-font-size: 59;
  --typography-headline-1-regular-letter-spacing: -3%;
  --typography-headline-1-regular-paragraph-spacing: 0;
  --typography-headline-1-regular-text-case: upperase;
  --typography-headline-1-regular-text-decoration: none;
  --typography-headline-2-bold-font-family: Inter;
  --typography-headline-2-bold-font-weight: Bold;
  --typography-headline-2-bold-line-height: 110%;
  --typography-headline-2-bold-font-size: 49;
  --typography-headline-2-bold-letter-spacing: -3%;
  --typography-headline-2-bold-paragraph-spacing: 0;
  --typography-headline-2-bold-text-case: upperase;
  --typography-headline-2-bold-text-decoration: none;
  --typography-headline-2-regular-font-family: Inter;
  --typography-headline-2-regular-font-weight: Regular;
  --typography-headline-2-regular-line-height: 110%;
  --typography-headline-2-regular-font-size: 49;
  --typography-headline-2-regular-letter-spacing: -3%;
  --typography-headline-2-regular-paragraph-spacing: 0;
  --typography-headline-2-regular-text-case: upperase;
  --typography-headline-2-regular-text-decoration: none;
  --typography-headline-3-bold-font-family: Inter;
  --typography-headline-3-bold-font-weight: Bold;
  --typography-headline-3-bold-line-height: 110%;
  --typography-headline-3-bold-font-size: 41;
  --typography-headline-3-bold-letter-spacing: -3%;
  --typography-headline-3-bold-paragraph-spacing: 0;
  --typography-headline-3-bold-text-case: upperase;
  --typography-headline-3-bold-text-decoration: none;
  --typography-headline-3-regular-font-family: Inter;
  --typography-headline-3-regular-font-weight: Regular;
  --typography-headline-3-regular-line-height: 110%;
  --typography-headline-3-regular-font-size: 41;
  --typography-headline-3-regular-letter-spacing: -3%;
  --typography-headline-3-regular-paragraph-spacing: 0;
  --typography-headline-3-regular-text-case: upperase;
  --typography-headline-3-regular-text-decoration: none;
  --typography-headline-4-bold-font-family: Inter;
  --typography-headline-4-bold-font-weight: Bold;
  --typography-headline-4-bold-line-height: 130%;
  --typography-headline-4-bold-font-size: 34;
  --typography-headline-4-bold-letter-spacing: -3%;
  --typography-headline-4-bold-paragraph-spacing: 0;
  --typography-headline-4-bold-text-case: upperase;
  --typography-headline-4-bold-text-decoration: none;
  --typography-headline-4-regular-font-family: Inter;
  --typography-headline-4-regular-font-weight: Regular;
  --typography-headline-4-regular-line-height: 130%;
  --typography-headline-4-regular-font-size: 34;
  --typography-headline-4-regular-letter-spacing: -3%;
  --typography-headline-4-regular-paragraph-spacing: 0;
  --typography-headline-4-regular-text-case: upperase;
  --typography-headline-4-regular-text-decoration: none;
  --typography-headline-5-bold-font-family: Inter;
  --typography-headline-5-bold-font-weight: Bold;
  --typography-headline-5-bold-line-height: 130%;
  --typography-headline-5-bold-font-size: 23;
  --typography-headline-5-bold-letter-spacing: -3%;
  --typography-headline-5-bold-paragraph-spacing: 0;
  --typography-headline-5-bold-text-case: upperase;
  --typography-headline-5-bold-text-decoration: none;
  --typography-headline-5-regular-font-family: Inter;
  --typography-headline-5-regular-font-weight: Regular;
  --typography-headline-5-regular-line-height: 130%;
  --typography-headline-5-regular-font-size: 23;
  --typography-headline-5-regular-letter-spacing: -3%;
  --typography-headline-5-regular-paragraph-spacing: 0;
  --typography-headline-5-regular-text-case: upperase;
  --typography-headline-5-regular-text-decoration: none;
  --typography-lead-bold-font-family: Inter;
  --typography-lead-bold-font-weight: Bold;
  --typography-lead-bold-line-height: 150%;
  --typography-lead-bold-font-size: 28;
  --typography-lead-bold-letter-spacing: 0%;
  --typography-lead-bold-paragraph-spacing: 0;
  --typography-lead-bold-text-case: uppercase;
  --typography-lead-bold-text-decoration: none;
  --typography-lead-regular-font-family: Inter;
  --typography-lead-regular-font-weight: Regular;
  --typography-lead-regular-line-height: 150%;
  --typography-lead-regular-font-size: 28;
  --typography-lead-regular-letter-spacing: 0%;
  --typography-lead-regular-paragraph-spacing: 0;
  --typography-lead-regular-text-case: uppercase;
  --typography-lead-regular-text-decoration: none;
  --typography-body-bold-font-family: Inter;
  --typography-body-bold-font-weight: Bold;
  --typography-body-bold-line-height: 150%;
  --typography-body-bold-font-size: 19;
  --typography-body-bold-letter-spacing: 0%;
  --typography-body-bold-paragraph-spacing: 0;
  --typography-body-bold-text-case: uppercase;
  --typography-body-bold-text-decoration: none;
  --typography-body-regular-font-family: Inter;
  --typography-body-regular-font-weight: Regular;
  --typography-body-regular-line-height: 150%;
  --typography-body-regular-font-size: 19;
  --typography-body-regular-letter-spacing: 0%;
  --typography-body-regular-paragraph-spacing: 0;
  --typography-body-regular-text-case: uppercase;
  --typography-body-regular-text-decoration: none;
  --typography-small-bold-font-family: Inter;
  --typography-small-bold-font-weight: Bold;
  --typography-small-bold-line-height: 150%;
  --typography-small-bold-font-size: 16;
  --typography-small-bold-letter-spacing: 0%;
  --typography-small-bold-paragraph-spacing: 0;
  --typography-small-bold-text-case: uppercase;
  --typography-small-bold-text-decoration: none;
  --typography-small-regular-font-family: Inter;
  --typography-small-regular-font-weight: Regular;
  --typography-small-regular-line-height: 150%;
  --typography-small-regular-font-size: 16;
  --typography-small-regular-letter-spacing: 0%;
  --typography-small-regular-paragraph-spacing: 0;
  --typography-small-regular-text-case: uppercase;
  --typography-small-regular-text-decoration: none;
  --typography-caption-bold-font-family: Inter;
  --typography-caption-bold-font-weight: Bold;
  --typography-caption-bold-line-height: 150%;
  --typography-caption-bold-font-size: 13;
  --typography-caption-bold-letter-spacing: 0%;
  --typography-caption-bold-paragraph-spacing: 0;
  --typography-caption-bold-text-case: none;
  --typography-caption-bold-text-decoration: none;
  --typography-caption-regular-font-family: Inter;
  --typography-caption-regular-font-weight: Regular;
  --typography-caption-regular-line-height: 150%;
  --typography-caption-regular-font-size: 13;
  --typography-caption-regular-letter-spacing: 0%;
  --typography-caption-regular-paragraph-spacing: 0;
  --typography-caption-regular-text-case: none;
  --typography-caption-regular-text-decoration: none;
  --typography-x-small-bold-font-family: Inter;
  --typography-x-small-bold-font-weight: Bold;
  --typography-x-small-bold-line-height: 150%;
  --typography-x-small-bold-font-size: 11;
  --typography-x-small-bold-letter-spacing: 0%;
  --typography-x-small-bold-paragraph-spacing: 0;
  --typography-x-small-bold-text-case: uppercase;
  --typography-x-small-bold-text-decoration: none;
  --typography-x-small-regular-font-family: Inter;
  --typography-x-small-regular-font-weight: Regular;
  --typography-x-small-regular-line-height: 150%;
  --typography-x-small-regular-font-size: 11;
  --typography-x-small-regular-letter-spacing: 0%;
  --typography-x-small-regular-paragraph-spacing: 0;
  --typography-x-small-regular-text-case: uppercase;
  --typography-x-small-regular-text-decoration: none;
  --typography-tiny-bold-font-family: Inter;
  --typography-tiny-bold-font-weight: Bold;
  --typography-tiny-bold-line-height: 150%;
  --typography-tiny-bold-font-size: 9;
  --typography-tiny-bold-letter-spacing: 0%;
  --typography-tiny-bold-paragraph-spacing: 0;
  --typography-tiny-bold-text-case: uppercase;
  --typography-tiny-bold-text-decoration: none;
  --typography-tiny-regular-font-family: Inter;
  --typography-tiny-regular-font-weight: Regular;
  --typography-tiny-regular-line-height: 150%;
  --typography-tiny-regular-font-size: 9;
  --typography-tiny-regular-letter-spacing: 0%;
  --typography-tiny-regular-paragraph-spacing: 0;
  --typography-tiny-regular-text-case: uppercase;
  --typography-tiny-regular-text-decoration: none;
  --typography-button-normal-bold-font-family: Inter;
  --typography-button-normal-bold-font-weight: Bold;
  --typography-button-normal-bold-line-height: 150%;
  --typography-button-normal-bold-font-size: 13;
  --typography-button-normal-bold-letter-spacing: 3%;
  --typography-button-normal-bold-paragraph-spacing: 0;
  --typography-button-normal-bold-text-case: none;
  --typography-button-normal-bold-text-decoration: none;
  --typography-button-normal-regular-font-family: Inter;
  --typography-button-normal-regular-font-weight: Regular;
  --typography-button-normal-regular-line-height: 150%;
  --typography-button-normal-regular-font-size: 13;
  --typography-button-normal-regular-letter-spacing: 3%;
  --typography-button-normal-regular-paragraph-spacing: 0;
  --typography-button-normal-regular-text-case: none;
  --typography-button-normal-regular-text-decoration: none;
  --typography-button-large-bold-font-family: Inter;
  --typography-button-large-bold-font-weight: Bold;
  --typography-button-large-bold-line-height: 150%;
  --typography-button-large-bold-font-size: 16;
  --typography-button-large-bold-letter-spacing: 3%;
  --typography-button-large-bold-paragraph-spacing: 0;
  --typography-button-large-bold-text-case: none;
  --typography-button-large-bold-text-decoration: none;
  --typography-button-large-regular-font-family: Inter;
  --typography-button-large-regular-font-weight: Regular;
  --typography-button-large-regular-line-height: 150%;
  --typography-button-large-regular-font-size: 16;
  --typography-button-large-regular-letter-spacing: 3%;
  --typography-button-large-regular-paragraph-spacing: 0;
  --typography-button-large-regular-text-case: none;
  --typography-button-large-regular-text-decoration: none;
  --typography-button-x-large-bold-font-family: Inter;
  --typography-button-x-large-bold-font-weight: Bold;
  --typography-button-x-large-bold-line-height: 150%;
  --typography-button-x-large-bold-font-size: 23;
  --typography-button-x-large-bold-letter-spacing: 3%;
  --typography-button-x-large-bold-paragraph-spacing: 0;
  --typography-button-x-large-bold-text-case: none;
  --typography-button-x-large-bold-text-decoration: none;
  --typography-button-x-large-regular-font-family: Inter;
  --typography-button-x-large-regular-font-weight: Regular;
  --typography-button-x-large-regular-line-height: 150%;
  --typography-button-x-large-regular-font-size: 23;
  --typography-button-x-large-regular-letter-spacing: 3%;
  --typography-button-x-large-regular-paragraph-spacing: 0;
  --typography-button-x-large-regular-text-case: none;
  --typography-button-x-large-regular-text-decoration: none;
  --typography-input-normal-bold-font-family: Inter;
  --typography-input-normal-bold-font-weight: Bold;
  --typography-input-normal-bold-line-height: 150%;
  --typography-input-normal-bold-font-size: 16;
  --typography-input-normal-bold-letter-spacing: 0%;
  --typography-input-normal-bold-paragraph-spacing: 0;
  --typography-input-normal-bold-text-case: uppercase;
  --typography-input-normal-bold-text-decoration: none;
  --typography-input-normal-regular-font-family: Inter;
  --typography-input-normal-regular-font-weight: Regular;
  --typography-input-normal-regular-line-height: 150%;
  --typography-input-normal-regular-font-size: 16;
  --typography-input-normal-regular-letter-spacing: 0%;
  --typography-input-normal-regular-paragraph-spacing: 0;
  --typography-input-normal-regular-text-case: uppercase;
  --typography-input-normal-regular-text-decoration: none;
  --typography-input-large-bold-font-family: Inter;
  --typography-input-large-bold-font-weight: Bold;
  --typography-input-large-bold-line-height: 150%;
  --typography-input-large-bold-font-size: 19;
  --typography-input-large-bold-letter-spacing: 0%;
  --typography-input-large-bold-paragraph-spacing: 0;
  --typography-input-large-bold-text-case: uppercase;
  --typography-input-large-bold-text-decoration: none;
  --typography-input-large-regular-font-family: Inter;
  --typography-input-large-regular-font-weight: Regular;
  --typography-input-large-regular-line-height: 150%;
  --typography-input-large-regular-font-size: 19;
  --typography-input-large-regular-letter-spacing: 0%;
  --typography-input-large-regular-paragraph-spacing: 0;
  --typography-input-large-regular-text-case: uppercase;
  --typography-input-large-regular-text-decoration: none;
  --text-case-none: uppercase;
  --text-case-captions: none;
  --text-case-buttons: none;
  --text-case-headlines: upperase;
  --text-decoration-none: none;
  --text-decoration-buttons: none;
  --text-decoration-captions: none;
  --documentation-headlines-bold-large-font-family: Inter;
  --documentation-headlines-bold-large-font-weight: Bold;
  --documentation-headlines-bold-large-line-height: AUTO;
  --documentation-headlines-bold-large-font-size: 48;
  --documentation-headlines-bold-large-letter-spacing: 0%;
  --documentation-headlines-bold-large-paragraph-spacing: 0;
  --documentation-headlines-bold-large-text-decoration: none;
  --documentation-headlines-bold-large-text-case: none;
  --documentation-headlines-bold-small-font-family: Inter;
  --documentation-headlines-bold-small-font-weight: Bold;
  --documentation-headlines-bold-small-line-height: AUTO;
  --documentation-headlines-bold-small-font-size: 20;
  --documentation-headlines-bold-small-letter-spacing: 0%;
  --documentation-headlines-bold-small-paragraph-spacing: 0;
  --documentation-headlines-bold-small-text-decoration: none;
  --documentation-headlines-bold-small-text-case: none;
  --documentation-headlines-regular-large-font-family: Inter;
  --documentation-headlines-regular-large-font-weight: Regular;
  --documentation-headlines-regular-large-line-height: AUTO;
  --documentation-headlines-regular-large-font-size: 48;
  --documentation-headlines-regular-large-letter-spacing: 0%;
  --documentation-headlines-regular-large-paragraph-spacing: 0;
  --documentation-headlines-regular-large-text-decoration: none;
  --documentation-headlines-regular-large-text-case: none;
  --documentation-headlines-regular-small-font-family: Inter;
  --documentation-headlines-regular-small-font-weight: Regular;
  --documentation-headlines-regular-small-line-height: AUTO;
  --documentation-headlines-regular-small-font-size: 20;
  --documentation-headlines-regular-small-letter-spacing: 0%;
  --documentation-headlines-regular-small-paragraph-spacing: 0;
  --documentation-headlines-regular-small-text-decoration: none;
  --documentation-headlines-regular-small-text-case: none;
  --documentation-headlines-xl-font-family: Inter;
  --documentation-headlines-xl-font-weight: Bold;
  --documentation-headlines-xl-line-height: AUTO;
  --documentation-headlines-xl-font-size: 112;
  --documentation-headlines-xl-letter-spacing: 0%;
  --documentation-headlines-xl-paragraph-spacing: 0;
  --documentation-headlines-xl-text-decoration: none;
  --documentation-headlines-xl-text-case: none;
  --documentation-body-bold-large-font-family: Inter;
  --documentation-body-bold-large-font-weight: Bold;
  --documentation-body-bold-large-line-height: AUTO;
  --documentation-body-bold-large-font-size: 48;
  --documentation-body-bold-large-letter-spacing: 0%;
  --documentation-body-bold-large-paragraph-spacing: 0;
  --documentation-body-bold-large-text-decoration: none;
  --documentation-body-bold-large-text-case: none;
  --documentation-body-bold-small-font-family: Inter;
  --documentation-body-bold-small-font-weight: Bold;
  --documentation-body-bold-small-line-height: AUTO;
  --documentation-body-bold-small-font-size: 20;
  --documentation-body-bold-small-letter-spacing: 0%;
  --documentation-body-bold-small-paragraph-spacing: 0;
  --documentation-body-bold-small-text-decoration: none;
  --documentation-body-bold-small-text-case: none;
  --documentation-body-regular-large-font-family: Inter;
  --documentation-body-regular-large-font-weight: Regular;
  --documentation-body-regular-large-line-height: AUTO;
  --documentation-body-regular-large-font-size: 48;
  --documentation-body-regular-large-letter-spacing: 0%;
  --documentation-body-regular-large-paragraph-spacing: 0;
  --documentation-body-regular-large-text-decoration: none;
  --documentation-body-regular-large-text-case: none;
  --documentation-body-regular-small-font-family: Inter;
  --documentation-body-regular-small-font-weight: Regular;
  --documentation-body-regular-small-line-height: AUTO;
  --documentation-body-regular-small-font-size: 20;
  --documentation-body-regular-small-letter-spacing: 0%;
  --documentation-body-regular-small-paragraph-spacing: 0;
  --documentation-body-regular-small-text-decoration: none;
  --documentation-body-regular-small-text-case: none;
  --documentation-body-xl-font-family: Inter;
  --documentation-body-xl-font-weight: Bold;
  --documentation-body-xl-line-height: AUTO;
  --documentation-body-xl-font-size: 112;
  --documentation-body-xl-letter-spacing: 0%;
  --documentation-body-xl-paragraph-spacing: 0;
  --documentation-body-xl-text-decoration: none;
  --documentation-body-xl-text-case: none;
      }