@import './css-variables/vars-alert.css';

.alert-body {
  display: block;
  border-width: 0;
  border-left-width: 8px;
  border-style: solid;
  padding: 1rem;
}

.alert-header {
  font-size: var(--fs-lg);
  line-height: var(--lh-lg);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}

:host([status='info']) .alert-body {
  background-color: var(--outline-alert--info-background--computed);
  border-color: var(--outline-alert--info-border--computed);
  color: var(--outline-alert--info-text--computed);
}

:host([status='warning']) .alert-body {
  background-color: var(--outline-alert--warning-background--computed);
  border-color: var(--outline-alert--warning-border--computed);
  color: var(--outline-alert--warning-text--computed);
}

:host([status='error']) .alert-body {
  background-color: var(--outline-alert--error-background--computed);
  border-color: var(--outline-alert--error-border--computed);
  color: var(--outline-alert--error-text--computed);
}

:host([status='success']) .alert-body {
  background-color: var(--outline-alert--success-background--computed);
  border-color: var(--outline-alert--success-border--computed);
  color: var(--outline-alert--success-text--computed);
}
