/* Apply standardized box sizing to the component. */
:host {
  box-sizing: border-box;
  display: inline-flex;
}
:host *,
:host *::before,
:host *::after {
  box-sizing: inherit;
}
/* Apply proper CSS for accessibly hiding elements to each component. */
:host([aria-hidden='true']),
[aria-hidden='true'],
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
/* Apply component specific CSS */
.sr-only {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.dropdown {
  display: flex;
  position: relative;
}

.dropdown--open {
  .btn.primary {
    background-color: var(--outline-button--primary-bg-color-hover--computed);
    color: var(--outline-button--primary-text-color-hover--computed);
    font-weight: var(--outline-button--primary-weight-hover--computed);
    box-shadow: var(--outline-button--primary-ring-hover--computed);
  }
}

.dropdown--open .dropdown__panel {
  margin: 0;
  position: absolute;
  z-index: 50;
  min-width: 350px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--outline-gray-400);
  background-color: var(--outline-gray-200);
  color: var(--outline-black);
  padding: 1rem;
  pointer-events: all;
}

/*
  Applies a margin to the span containing the button text
  assuming there is a button-url, meaning there should be an
  icon for opening a dropdown.
*/
outline-split-button {
}

outline-button {
  .btn {
    padding: var(--outline-button--padding--computed);
  }

  .btn.primary {
    padding: var(--outline-button--primary-padding--computed);
  }

  .btn.secondary {
    padding: var(--outline-button--secondary-padding--computed);
  }

  .btn.tertiary {
    padding: var(--outline-button--tertiary-padding--computed);
  }

  .btn.link {
    padding: var(--outline-button--link-padding--computed);
  }

  .btn.primary:hover {
  }

  .icon__trigger {
    display: flex;
    margin-left: 1rem;
  }
}
