:host {
  display: block;
}

.dropdown {
  @apply ml-7 w-40;
  height: 30px;
}

.icon-container {
  @apply box-border flex w-full flex-wrap justify-start border-2 border-neutral-grayLight p-8;
}

.icon {
  @apply flex w-20 flex-col items-center;
}

label {
  @apply ml-7 font-body text-demo-darkGray;

  &.alt {
    @apply text-neutral-white;
  }
}

.main {
  @apply rounded p-8;

  &.alt {
    @apply bg-blue-700;
  }
}

outline-svg.alt {
  @apply text-neutral-white;
}

.search {
  @apply ml-14 h-6 w-60;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
