@import '@splidejs/splide/dist/css/splide-core.min.css';

.splide {
  @apply relative;
}

.splide__pagination {
  display: none;
}

.splide__arrows {
  @apply absolute bottom-0 left-0 z-40 flex w-full justify-center bg-brand-primary;
  border-radius: 0;
}

.splide__arrow {
  @apply flex flex-grow items-center;
  background: none;
  border: none;

  &:hover {
    @apply cursor-pointer;
  }

  &:disabled {
    @apply cursor-not-allowed;
  }
}

.splide__arrow svg {
  fill: white;
  width: 1.25rem;
}

.splide__arrow--prev {
  @apply justify-end;
  &:after {
    @apply absolute h-1/2;
    content: '';
    border-right: 1px solid var(--gray-200);
    right: 50%;
    top: 0.75rem;
  }

  & svg {
    @apply justify-self-end;
    transform: rotate(180deg);
  }
}

::slotted(img) {
  @apply bg-outline-gray-100 object-cover !important;
  border-radius: 0;
  height: 12rem !important;
  width: 100% !important;
}

.splide__slide.is-visible {
  visibility: visible;
}

.sr-only {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.slide-count {
  @apply hidden rounded py-1 px-2 font-body text-lg text-outline-white;
  background-color: #00000080;
}

@screen sm {
  ::slotted(img) {
    height: 16.25rem !important;
  }
}

@screen md {
  .splide__arrows {
    @apply bottom-0;
    height: 4.75rem;
    width: 9.25rem;
    border-radius: 0 5px 0 5px;
  }

  .splide__arrow {
    @apply justify-center;
  }

  .splide__arrow--prev {
    &:after {
      top: 1.25rem;
    }
  }

  .slide-count {
    display: block;
    @apply absolute bottom-4 right-4 z-50;
  }

  ::slotted(img) {
    height: 31.25rem !important;
    border-radius: 5px;
  }
}
