:host {
  /* flex and border-radius constrain the actual boundaries of the element,
   preventing literal edge cases where a user can click on the edge or corner of the button and defeate states like disabled */
  @apply flex rounded-xl;
}

:host([isDisabled]) {
  @apply cursor-not-allowed pointer-events-none;
}
.btn {
  @apply px-12 py-4 text-lg leading-tight rounded-xl cursor-pointer transition-colors duration-300 font-body no-underline inline-flex content-center;
}

.btn outline-icon {
  @apply relative w-6 ml-2 -mb-2;
}

.btn.primary {
  @apply bg-blue-700 text-neutral-white;

  &:hover,
  &:focus {
    @apply bg-neutral-black text-neutral-white;
  }
}

.btn.primary[aria-disabled=true] {
  @apply cursor-not-allowed text-gray-500 bg-gray-300;
}
.btn.secondary {
  @apply bg-gray-300 text-gray-800;

  &:hover,
  &:focus {
    @apply bg-neutral-black text-neutral-white;
  }

}
.btn.secondary[aria-disabled=true] {
  @apply cursor-not-allowed text-gray-500 bg-gray-300;
}

.btn.tertiary {
  @apply bg-blue-300 text-gray-800;

  &:hover,
  &:focus {
    @apply bg-neutral-black text-neutral-white;
  }

}

.btn.tertiary[aria-disabled=true] {
  @apply cursor-not-allowed text-gray-500 bg-gray-300;
}

.btn.none {
  @apply flex items-center text-base px-4;
}
