:host {
  /* flex and border-radius constrain the actual boundaries of the element,
   preventing literal edge cases where a user can click on the edge or corner of the button and defeat states like disabled */
  @apply inline-flex rounded-lg align-middle;
}

.btn {
  @apply flex flex-nowrap items-center;
  @apply cursor-pointer rounded-lg;
  @apply transition-colors duration-300;
  @apply font-semibold no-underline outline-none;
  @apply leading-normal !important;
  padding: 0.5em 1em;
}

.btn[aria-disabled='true'] {
  @apply pointer-events-none cursor-not-allowed select-none !important;
}

.btn.primary {
  @apply border-none bg-outline-dark-blue text-outline-white;

  &:hover,
  &:focus {
    @apply bg-outline-medium-blue text-outline-white ring-2 ring-outline-dark-blue;
  }
}

.primary[aria-disabled='true'] {
  @apply bg-outline-light-gray text-outline-dark-gray !important;

  &:hover,
  &:focus {
    @apply ring-2 ring-outline-medium-gray;
  }
}

.btn.secondary {
  @apply bg-outline-white text-outline-dark-blue;
  border: 1px solid var(--outline-dark-blue);

  &:hover,
  &:focus {
    @apply bg-outline-light-blue text-outline-dark-blue ring-2 ring-outline-medium-blue;
  }
}

.secondary[aria-disabled='true'] {
  @apply bg-outline-light-gray text-outline-dark-gray !important;
  border-color: var(--outline-dark-gray);

  &:hover,
  &:focus {
    @apply ring-2 ring-outline-medium-gray;
  }
}

.btn.small {
  @apply text-sm;
}

.btn.medium {
  @apply text-base;
}

.btn.large {
  @apply text-lg;
}

.btn.none {
  @apply py-0 pr-4 pl-0 text-base font-semibold text-outline-dark-blue !important;

  &:hover,
  &:focus {
    @apply text-outline-medium-blue underline !important;
  }

  &[aria-disabled='true'] {
    @apply text-outline-dark-gray !important;
  }
}
