/*
Default CSS Variables for `outline-alert`.
You can override these using `outline.theme.css`, 
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
The variables used to override the default 
`outline-alert` styling can be found in 
`outline-alert.ts` delcared with the `@cssprop` annotations.
*/

--outline-alert--default-info-background: var(--outline-white);
--outline-alert--default-info-text: var(--status-info);
--outline-alert--default-info-border: var(--status-info);

--outline-alert--default-success-background: var(--outline-white);
--outline-alert--default-success-text: var(--status-success);
--outline-alert--default-success-border: var(--status-success);

--outline-alert--default-warning-background: var(--outline-white);
--outline-alert--default-warning-text: var(--status-warning);
--outline-alert--default-warning-border: var(--status-warning);

--outline-alert--default-error-background: var(--outline-white);
--outline-alert--default-error-text: var(--status-error);
--outline-alert--default-error-border: var(--status-error);
