.alert-body {
  display: block;
  border-width: 0;
  border-left-width: 8px;
  border-style: solid;
  padding: 1rem;
}

.alert-header {
  font-size: var(--fs-lg);
  line-height: var(--lh-lg);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}

:host([statusType='info']) .alert-body {
  background-color: var(--ui-info-background);
  border-color: var(--ui-info-border);
  color: var(--ui-info-text);
}

:host([statusType='warning']) .alert-body {
  background-color: var(--ui-warning-background);
  border-color: var(--ui-warning-border);
  color: var(--ui-warning-text);
}

:host([statusType='error']) .alert-body {
  background-color: var(--ui-error-background);
  border-color: var(--ui-error-border);
  color: var(--ui-error-text);
}

:host([statusType='success']) .alert-body {
  background-color: var(--ui-success-background);
  border-color: var(--ui-success-border);
  color: var(--ui-success-text);
}
