:host {
  /* Support floats. */
  display: block;
}

p {
  @apply text-lg;
  margin-bottom: 1em;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

li {
  padding-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Set a global HR for color purposes. */
hr {
  border-color: var(--brand-primary);
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: var(--fs-lg);
  font-weight: bold;
}

a {
  @apply font-body no-underline transition-colors duration-300;
  color: var(--outline-link-color-default);
}

a:hover {
  @apply underline;
  color: var(--outline-link-color-hover) !important;
}

a:focus {
  @apply underline outline-none;
  color: var(--outline-link-color-focus) !important;
}
