:host {
  display: inline-flex;
  vertical-align: middle;
}

/* Remove button padding */
.btn {
  padding: 0 !important;
}

/* Reassign button padding to the actual link */
::slotted(.button__trigger) {
  display: flex;
  padding: var(--outline-button--padding--computed);
}

/* Primary variant */
[trigger-variant='primary'] ::slotted(.button__trigger) {
  padding: var(--outline-button--primary-padding--computed);
}

[trigger-variant='primary']:hover ::slotted(.icon__trigger) .btn.primary {
  background-color: var(--outline-button--primary-bg-color-hover--computed);
  color: var(--outline-button--primary-text-color-hover--computed);
  font-weight: var(--outline-button--primary-weight-hover--computed);
  box-shadow: var(--outline-button--primary-ring-hover--computed);
}

/* Secondary variant */
[trigger-variant='secondary'] ::slotted(.button__trigger) {
  padding: var(--outline-button--secondary-padding--computed);
}

/* Tertiary variant */
[trigger-variant='tertiary'] ::slotted(.button__trigger) {
  padding: var(--outline-button--tertiary-padding--computed);
}

/* Link variant */
[trigger-variant='link'] ::slotted(.button__trigger) {
  padding: var(--outline-button--link-padding--computed);
}

::slotted(.icon__trigger) {
  display: flex;
  height: 100%;
}

::slotted(.icon__bordered) {
  border-left: 1px solid currentColor;
}

:host([button-variant='link']) ::slotted(.icon__bordered) {
  border-left-width: 0px !important;
}

:host([button-variant='link']) ::slotted(.button__trigger) {
  //padding-right: var(--spacing-2);
}
