.menu-link,
.menu-link--main {
  @apply flex w-full no-underline;
  transition: 0;
  & a {
    @apply no-underline;
  }

  & li {
    list-style: none;
  }
}

.menu-link--main {
  @apply relative mt-2 flex w-full justify-start px-3 pb-2 pt-8 text-xl text-outline-white md:justify-center md:rounded-t-md;
  transition: 0s;
  & a {
    @apply text-outline-white;
  }

  &:hover,
  &:focus {
    @apply md:bg-outline-white md:text-outline-blue-500;

    & a {
      @apply md:text-outline-blue-500;
    }
  }
}

.menu-link {
  @apply py-2 px-4 text-outline-black;
  border-bottom: solid 1px var(--blue-500);

  &:hover,
  &:focus {
    @apply bg-outline-white text-outline-blue-900;
    border-bottom: solid 1px var(--blue-900);
  }
}

/* Mobile */

.menu-link.mobile,
.menu-link--main.mobile {
  @apply w-full;
  transition: 0.5s;
}

/* Utility */

.flyaway {
  transform: translateX(-150%);
  visibility: hidden;
  opacity: 0;
  @apply m-0 h-0 border-0 p-0 !important;
}
