/*
Default CSS Variables for `outline-list`.
You can override these using `outline.theme.css`,
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
*/

:host {
  --outline-list--spacing--computed: var(--outline-list--spacing, var(--spacing-4));
  --outline-list--spacing-xs--computed: var(--outline-list--spacing-xs, var(--outline-list--spacing, var(--spacing-4)));
  --outline-list--spacing-sm--computed: var(--outline-list--spacing-sm, var(--outline-list--spacing, var(--spacing-4)));
  --outline-list--spacing-md--computed: var(--outline--list--spacing-md, var(--outline-list--spacing, var(--spacing-4)));
  --outline-list--spacing-lg--computed: var(--outline--list--spacing-lg, var(--outline-list--spacing, var(--spacing-4)));
  --outline-list--spacing-xl--computed: var(--outline--list--spacing-xl, var(--outline-list--spacing, var(--spacing-4)));
  --outline-list--spacing-xxl--computed: var(--outline--list--spacing-xxl, var(--outline-list--spacing, var(--spacing-4)));
  --outline-list--spacing-xxxl--computed: var(--outline--list--spacing-xxxl, var(--outline-list--spacing, var(--spacing-4)));
}
