:host,
a,
::slotted(a) {
  @apply font-body text-demo-darkBlue transition-colors duration-300 no-underline;
}

a:hover,
::slotted(a:hover) {
  @apply text-demo-mediumBlue underline;
}

:host(:active),
a.active,
::slotted(a.active) {
  @apply underline;
}
