:host,
a,
::slotted(a) {
    @apply underline font-body text-yellow-500 transition-colors duration-300 mr-4;
}

:host(:hover),
a:hover,
::slotted(a:hover) {
    @apply text-brand-secondary no-underline;
}

:host(:after),
span:after,
::slotted(span:after) {
    content: '>';
}