/* Primary Button(s) */
--outline-btn--primary-padding: var(--outline-btn-padding);
--outline-btn--primary-rounded: var(--spacing-2);

/* Primary Button(s) - Default */
--outline-btn--primary-bg-color-default: var(--outline-phase2-blue);
--outline-btn--primary-text-color-default: var(--neutral-white);
--outline-btn--primary-weight-default: var(--outline-btn-weight);
--outline-btn--primary-ring-default: none;

/* Primary Button(s) - Hover */
--outline-btn--primary-bg-color-hover: var(--outline-white);
--outline-btn--primary-text-color-hover: var(--outline-phase2-blue);
--outline-btn--primary-weight-hover: var(--outline-btn-weight);
--outline-btn--primary-ring-hover: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-phase2-blue);

/* Primary Button(s) - Focus */
--outline-btn--primary-bg-color-focus: var(--outline-white);
--outline-btn--primary-text-color-focus: var(--outline-phase2-blue);
--outline-btn--primary-weight-focus: var(--outline-btn-weight);
--outline-btn--primary-ring-focus: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-phase2-blue);

/* Primary Button(s) - Disabled */
--outline-btn--primary--disabled-bg-color: var(--outline-white);
--outline-btn--primary--disabled-text-color: var(--outline-phase2-blue);
--outline-btn--primary--disabled-weight: var(--outline-btn-weight);
--outline-btn--primary--disabled-ring: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-light-gray);

/* Primary Button(s) - Disabled:Focus */
--outline-btn--primary--disabled-bg-color-focus: var(--outline-white);
--outline-btn--primary--disabled-text-color-focus: var(--outline-phase2-blue);
--outline-btn--primary--disabled-weight-focus: var(--outline-btn-weight);
--outline-btn--primary--disabled-ring-focus: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-medium-gray);
