/*
Default CSS Variables for the `outline-button` secondary variant.
You can override these using `outline.theme.css`, 
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
The variables used to override the default 
`outline-button` styling can be found in 
`outline-button.ts` delcared with the `@cssprop` annotations.
*/

/* 
--outline--button--secondary-padding
--outline--button--secondary-radius
--outline--button--secondary-bg-color-default
--outline--button--secondary-text-color-default
--outline--button--secondary-weight-default
--outline--button--secondary-ring-default
--outline--button--secondary-bg-color-hover
--outline--button--secondary-text-color-hover
--outline--button--secondary-weight-hover
--outline--button--secondary-ring-hover
--outline--button--secondary-bg-color-focus
--outline--button--secondary-text-color-focus
--outline--button--secondary-weight-focus
--outline--button--secondary-ring-focus
--outline--button--secondary--disabled-bg-color
--outline--button--secondary--disabled-text-color
--outline--button--secondary--disabled-weight
--outline--button--secondary--disabled-ring
--outline--button--secondary--disabled-bg-color-focus
--outline--button--secondary--disabled-text-color-focus
--outline--button--secondary--disabled-weight-focus
--outline--button--secondary--disabled-ring-focus
*/

/* Secondary Button(s) */
--outline-button--default--secondary-padding: var(--outline-button--default-padding);
--outline-button--default--secondary-radius: var(--outline-button--default-radius);

/* Secondary Button(s) - Default */
--outline-button--default--secondary-bg-color-default: var(--outline-white);
--outline-button--default--secondary-text-color-default: var(--outline-blue-600);
--outline-button--default--secondary-weight-default: var(--outline-button--default-weight);
--outline-button--default--secondary-ring-default: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-blue-600);

/* Secondary Button(s) - Hover */
--outline-button--default--secondary-bg-color-hover: var(--outline-blue-600);
--outline-button--default--secondary-text-color-hover: var(--outline-white);
--outline-button--default--secondary-weight-hover: var(--outline-button--default-weight);
--outline-button--default--secondary-ring-hover: none;

/* Secondary Button(s) - Focus */
--outline-button--default--secondary-bg-color-focus: var(--outline-blue-600);
--outline-button--default--secondary-text-color-focus: var(--outline-white);
--outline-button--default--secondary-weight-focus: var(--outline-button--default-weight);
--outline-button--default--secondary-ring-focus: none;

/* Secondary Button(s) - Disabled */
--outline-button--default--secondary--disabled-bg-color: var(--outline-white);
--outline-button--default--secondary--disabled-text-color: var(--outline-gray-400);
--outline-button--default--secondary--disabled-weight: var(--outline-button--default-weight);
--outline-button--default--secondary--disabled-ring: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-gray-300);

/* Secondary Button(s) - Disabled:Focus */
--outline-button--default--secondary--disabled-bg-color-focus: var(--outline-white);
--outline-button--default--secondary--disabled-text-color-focus: var(--outline-gray-400);
--outline-button--default--secondary--disabled-weight-focus: var(--outline-button--default-weight);
--outline-button--default--secondary--disabled-ring-focus: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-gray-400);
