/*
Default CSS Variables for the `outline-button` tertiary variant.
You can override these using `outline.theme.css`, 
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
The variables used to override the default 
`outline-button` styling can be found in 
`outline-button.ts` delcared with the `@cssprop` annotations.
*/

/* 
--outline--button--tertiary-padding
--outline--button--tertiary-radius
--outline--button--tertiary-padding
--outline--button--tertiary-radius
--outline--button--tertiary-bg-color-default
--outline--button--tertiary-text-color-default
--outline--button--tertiary-weight-default
--outline--button--tertiary-ring-default
--outline--button--tertiary-bg-color-hover
--outline--button--tertiary-text-color-hover
--outline--button--tertiary-weight-hover
--outline--button--tertiary-ring-hover
--outline--button--tertiary-bg-color-focus
--outline--button--tertiary-text-color-focus
--outline--button--tertiary-weight-focus
--outline--button--tertiary-ring-focus
--outline--button--tertiary--disabled-bg-color
--outline--button--tertiary--disabled-text-color
--outline--button--tertiary--disabled-weight
--outline--button--tertiary--disabled-ring
--outline--button--tertiary--disabled-bg-color-focus
--outline--button--tertiary--disabled-text-color-focus
--outline--button--tertiary--disabled-weight-focus
--outline--button--tertiary--disabled-ring-focus
*/

--outline-button--default--tertiary-padding: var(--outline-button--default-padding);
--outline-button--default--tertiary-radius: var(--outline-button--default-radius); 

/* Tertiary Button(s) - Default */
--outline-button--default--tertiary-bg-color-default: var(--outline-soft-black);
--outline-button--default--tertiary-text-color-default: var(--outline-white);
--outline-button--default--tertiary-weight-default: var(--outline-button--default-weight);
--outline-button--default--tertiary-ring-default: none;

/* Tertiary Button(s) - Hover */
--outline-button--default--tertiary-bg-color-hover: var(--outline-white);
--outline-button--default--tertiary-text-color-hover: var(--outline-soft-black);
--outline-button--default--tertiary-weight-hover: var(--outline-button--default-weight);
--outline-button--default--tertiary-ring-hover: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-soft-black);

/* Tertiary Button(s) - Focus */
--outline-button--default--tertiary-bg-color-focus: var(--outline-white);
--outline-button--default--tertiary-text-color-focus: var(--outline-soft-black);
--outline-button--default--tertiary-weight-focus: var(--outline-button--default-weight);
--outline-button--default--tertiary-ring-focus: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-soft-black);

/* Tertiary Button(s) - Disabled */
--outline-button--default--tertiary--disabled-bg-color: var(--outline-white);
--outline-button--default--tertiary--disabled-text-color: var(--outline-gray-400);
--outline-button--default--tertiary--disabled-weight: var(--outline-button--default-weight);
--outline-button--default--tertiary--disabled-ring: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-gray-300);

/* Tertiary Button(s) - Disabled:Focus */
--outline-button--default--tertiary--disabled-bg-color-focus: var(--outline-white);
--outline-button--default--tertiary--disabled-text-color-focus: var(--outline-gray-400);
--outline-button--default--tertiary--disabled-weight-focus: var(--outline-button--default-weight);
--outline-button--default--tertiary--disabled-ring-focus: var(--outline-ring-inset) 0 0 0 var(--outline-ring-offset-width) var(--outline-gray-400);
