/*
Default CSS Variables for `outline-button`.
You can override these using `outline.theme.css`, 
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
The variables used to override the default 
`outline-button` styling can be found in 
`outline-button.ts` delcared with the `@cssprop` annotations.
*/

/* 
--outline-btn-weight
--outline-btn-family
--outline-btn-padding
--outline-btn-border-radius
*/

--outline-button--default-family: var(--ff-body);
--outline-button--default-weight: var(--fw-semibold);
--outline-button--default-padding: var(--spacing-2) var(--spacing-4);
--outline-button--default-radius: var(--spacing-2);

