/**
 * @file
 * Misc Form styles.
 */

.form-item {
  margin-bottom: var(--spacing-4);
}

.form-item:has(> input[type='radio']),
.form-item:has(> input[type='checkbox']) {
  margin-bottom: var(--spacing-2);
}

/** Handle disabled controls **/

input[disabled],
textarea[disabled],
select[disabled] {
  cursor: not-allowed;
  border-color: var(--outline-form--disabled-border-color--computed);
  color: var(--outline-form--disabled-color--computed);
  &::placeholder {
    color: var(--outline-form--disabled-color--computed);
  }
  &::hover {
    border-color: var(--outline-form--disabled-border-color--computed);
    color: var(--outline-form--disabled-color--computed);
  }
}

input[type='checkbox'][disabled],
input[type='radio'][disabled] {
  &:checked {
    border-color: var(--outline-form--disabled-border-color--computed);
    color: var(--outline-form--disabled-color--computed);
  }
  &::before {
    border-color: var(--outline-form--disabled-border-color--computed);
    color: var(--outline-form--disabled-color--computed);
    box-shadow: none;
  }
  & + label,
  & + .form-item__label {
    color: var(--outline-form--disabled-color--computed);
  }
}

input[type='checkbox'][disabled]:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2934 0.122983L5.08874 9.32769L1.70659 5.94554C1.54262 5.78157 1.27674 5.78157 1.11273 5.94554L0.122983 6.93529C-0.0409943 7.09926 -0.0409943 7.36514 0.122983 7.52915L4.79179 12.198C4.95576 12.3619 5.22164 12.3619 5.38565 12.198L15.877 1.70659C16.041 1.54261 16.041 1.27674 15.877 1.11273L14.8873 0.122983C14.7233 -0.0409943 14.4574 -0.0409943 14.2934 0.122983Z' fill='%23B3B5B8'/%3E%3C/svg%3E");
}

input[type='radio'][disabled]:checked::before {
  background-color: var(--outline-form--disabled-colord--computed);
}

[type='submit'][disabled] {
  color: var(--outline-white);
  background-color: var(--outline-form--disabled-color--computed);

  &:hover,
  &:focus {
    color: var(--outline-white);
    background-color: var(--outline-form--disabled-color--computed);
  }

  &.secondary {
    border-color: var(--outline-form--disabled-border-color--computed);
    background-color: var(--outline-white);
    color: var(--outline-form--disabled-color--computed);

    &:hover,
    &:focus {
      border-color: var(--outline-form--disabled-border-color--computed);
      background-color: var(--outline-white);
      color: var(--outline-form--disabled-color--computed);
    }
  }
}

input[type='color'] {
  border: 1px solid var(--outline-form--disabled-border-color--computed);
  margin: 0 0 0 var(--spacing-2);
  padding: 1px;
  border-radius: var(--outline-form--disabled-border-radius--computed);
}
