/**
 * @file
 * Form Buttons.
 */

input[type='submit'] {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--outline-button--primary-padding--computed);
  border-radius: var(--outline-button--primary-radius--computed);
  box-shadow: var(--outline-button--primary-ring--computed);
  flex-wrap: nowrap;
  cursor: pointer;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  text-decoration-line: none;
  font-weight: var(--outline-button--primary-weight--computed);
  font-family: var(--ff-display);
  text-transform: uppercase;
  font-size: var(--fs-base);
  min-width: auto;
  background-color: var(--outline-button--primary-bg-color--computed);
  color: var(--outline-button--primary-color--computed);
  width: auto;
  margin: 0px 0px 1rem 0px;

  &:hover {
    background-color: var(--outline-button--primary-bg-color-hover--computed);
    color: var(--outline-button--primary-color-hover--computed);
    font-weight: var(--outline-button--primary-weight-hover--computed);
    box-shadow: var(--outline-button--primary-ring-hover--computed);
  }

  &:focus {
    background-color: var(--outline-button--primary-bg-color-focus--computed);
    color: var(--outline-button--primary-color-focus--computed);
    font-weight: var(--outline-button--primary-weight-focus--computed);
    box-shadow: var(--outline-button--primary-ring-focus--computed);
  }

  &:active {
    background-color: var(--outline-button--primary-bg-color-hover--computed);
    color: var(--outline-button--primary-color-hover--computed);
    font-weight: var(--outline-button--primary-weight-hover--computed);
    box-shadow: var(--outline-button--primary-ring-hover--computed);
  }
}
