/*
Default CSS Variables for `outline-admin-links`.
You can override these using `outline.theme.css`,
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
*/

:host {
  --outline-admin-links--color--computed: var(--outline-admin-links--color, var(--outline-gray-600));
  --outline-admin-links--color-hover--computed: var(--outline-admin-links--color-hover, var(--outline-soft-black));
  --outline-admin-links--color-focus--computed: var(--outline-admin-links--color-focus, var(--outline-soft-black));
  --outline-admin-links--color-active--computed: var(--outline-admin-links--color-active,var( --outline-white));
  --outline-admin-links--bg--computed: var(--outline-admin-links--bg, var(--outline-gray-100));
  --outline-admin-links--bg-hover--computed: var(--outline-admin-links--bg-hover,var( --outline-gray-300));
  --outline-admin-links--bg-focus--computed: var(--outline-admin-links--bg-focus,var( --outline-gray-300));
  --outline-admin-links--bg-active--computed: var(--outline-admin-links--bg-active, var(--outline-blue-600));
  --outline-admin-links--spacing-y--computed: var(--outline-admin-links--spacing-y, var(--spacing-4));
  --outline-admin-links--link-spacing-y--computed: var(--outline-admin-links--link-spacing-y, var(--spacing-4));
  --outline-admin-links--link-spacing-x--computed: var(--outline-admin-links--link-spacing-x, var(--spacing-6));
}
