:host {
  @apply block max-w-full-screen-w font-body;
  @apply sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl xxl:max-w-screen-xxl xxxl:max-w-screen-xxxl;
  padding-top: var(--outline-container-padding-y);
  padding-right: var(--outline-container-padding-x);
  padding-bottom: var(--outline-container-padding-y);
  padding-left: var(--outline-container-padding-x);
}

:host(:not([x-padding])) {
  @apply px-0;
}

:host(:not([y-padding])) {
  @apply py-0;
}

:host([full-bleed]) {
  @apply max-w-full;
}

:host([container-align]),
:host([container-align='center']) {
  @apply mx-auto;
}
:host([container-align='left']) {
  @apply mx-auto ml-0;
}
:host([container-align='right']) {
  @apply mx-auto mr-0;
}
