@import './css-variables/vars-admin-links.css';

.links {
  padding-top: var(--outline-admin-links--spacing-y--computed);
  padding-bottom: var(--outline-admin-links--spacing-y--computed);
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  display: block;
}

a {
  position: relative;
  text-decoration: none;
  padding-top: var(--outline-admin-links--link-spacing-y--computed);
  padding-bottom: var(--outline-admin-links--link-spacing-y--computed);
  padding-left: var(--outline-admin-links--link-spacing-x--computed);
  padding-right: var(--outline-admin-links--link-spacing-x--computed);
  background: var(--outline-admin-links--bg--computed);
  color: var(--outline-admin-links--color--computed);

  &:hover {
    outline: none;
    background: var(--outline-admin-links--bg-hover--computed);
    color: var(--outline-admin-links--color-hover--computed);
  }

  &:focus {
    outline: none;
    background: var(--outline-admin-links--bg-focus--computed);
    color: var(--outline-admin-links--color-focus--computed);
  }

  &:not(.is-active):hover::before,
  &:not(.is-active):focus::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100%);
    height: 100%;
    content: '';
    transform: translate(-50%, -50%);
    border: solid 2px var(--outline-admin-links--color-hover--computed);
    border-radius: 0.25rem;
  }

  &.is-active {
    outline: solid 2px var(--outline-admin-links--color-hover--computed);
    background: var(--outline-admin-links--bg-active--computed);
    color: var(--outline-admin-links--color-active--computed);
    z-index: 1;

    &:hover,
    &:focus {
      outline-offset: 2px;
    }
  }
}

/* .visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
} */
