/**
 * @file
 * Default css variables for outline-form.
 */

/**
 * NOTE: For cssvars within light-dom, don't put this into the css-variables folder.
 * That prevents the :host from being added when imported into the main outline-form.css file.
*/

:host {
  --outline-form--text-size--computed:  var(--outline-form--text-size, 16px);
  --outline-form--bg-color--computed:  var(--outline-form--bg-color, var(--outline-white));
  --outline-form--color--computed:  var(--outline-form--color, var(--outline-gray-700));
  --outline-form--disabled-color--computed:  var(--outline-form--disabled-color, var(--outline-gray-400));
  --outline-form--placeholder-color--computed:  var(--outline-form--placeholder-color, var(--outline-gray-500));
  --outline-form--border-color--computed:  var(--outline-form--border-color, var(--outline-gray-700));
  --outline-form--border-color-hover--computed:  var(--outline-form--border-color-hover, var(--brand-primary));
  --outline-form--border-color-focus--computed:  var(--outline-form--border-color-focus, var(--brand-primary));
  --outline-form--disabled-border-color--computed:  var(--outline-form--disabled-border, var(--outline-gray-400));
  --outline-form--border-color-error--computed: var(--outline-form--border-color-error, var(--status-error));
  --outline-form--label-color--computed:  var(--outline-form--label-color, var(--demo-black));
  --outline-form--border-radius--computed:  var(--outline-form--border-radius, var(--spacing-1));
  --outline-form--padding-x--computed:  var(--outline-form--padding-x, var(--spacing-2));
  --outline-form--padding-y--computed:  var(--outline-form--padding-y, var(--spacing-2));
  --outline-form--label-weight--computed:  var(--outline-form--label-weight, var(--fw-semibold));
  --outline-form--label-size--computed:  var(--outline-form--label-size, 16px);
}
