name: Storybook Deployment
on:
  workflow_run:
    workflows: ['Build & Test Codebase']
    branches:
      - next
    types:
      - completed

jobs:
  # Basic setup job to prepare codebase.
  setup:
    name: GitHub Pages
    runs-on: ubuntu-latest

    # The steps for the setup job.
    steps:
      # @see https://github.com/marketplace/actions/checkout
      - name: Checkout codebase
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install
        run: yarn install

      - name: Build Storybook
        run: yarn storybook:prod

      - name: Check GitHub Pages status
        uses: crazy-max/ghaction-github-status@v2
        with:
          pages_threshold: major_outage

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          build_dir: storybook-static
          commit_message: 'chore(deploy): Storybook'
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # @see https://github.com/marketplace/actions/upload-a-build-artifact
      - name: Upload Storybook artifact
        uses: actions/upload-artifact@v2
        with:
          name: storybook-latest
          path: storybook-static/
          retention-days: 1
