/*
Default CSS Variables for `outline-link`.
You can override these using `outline.theme.css`,
or any css file in your consumer application with
a later loading order than `outline.theme.css`.
The variables used to override the default
`outline-link` styling can be found in
`outline-link.ts` delcared with the `@cssprop` annotations.
*/

:host {
  --outline-link--color--computed: var(--outline-link--color, var(--outline-blue-600));
  --outline-link--text-decoration--computed: var(--outline-link--text-decoration, none);
  --outline-link--color-hover--computed: var(--outline-link--color-hover, var(--outline-gray-600));
  --outline-link--text-decoration-hover--computed: var(--outline-link--text-decoration-hover, underline);
  --outline-link--color-focus--computed: var(--outline-link--color-focus, var(--outline-gray-600));
  --outline-link--text-decoration-focus--computed: var(--outline-link--text-decoration-focus, underline);
  --outline-link--transition-property--computed: var(--outline-link--transition-property, color, background-color, border-color, text-decoration-color, fill, stroke);
  --outline-link--transition-duration--computed:  var(--outline-link--transition-duration, 150ms);
  --outline-link--transition-timing-function--computed: var(--outline-link--transition-timing-function, cubic-bezier(0.4, 0, 0.2, 1));
}
